@use "utilities" as *;

a.related__link {
  background: none;
  box-shadow: none;
  color: var(--color-project-link);
  display: block;

  &:hover, &:focus {
    color: var(--color-project-link-hover);
  }

  &:active {
    color: var(--color-project-link-active);
  }
}

.related {
  background-color: var(--fill-page-secondary);
  margin-bottom: 0;
  padding: var(--a3) 0;

  &__leader {
    @extend %typography-subheading;

    color: var(--color-text-content);
    margin-bottom: var(--a-1);
    padding-bottom: var(--a-1);
    position: relative;

    &::after {
      background-color: var(--stroke-separator);
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      transform: scaleY(.5);
    }
  }

  &__title {
    @extend %typography-link-title;

    margin-bottom: var(--a-1);
  }

  &__description {
    @extend %typography-link-description;

    color: var(--color-text-content);
  }

  &__link {
    &:nth-child(1) {
      grid-column: content-half-a;
      margin-bottom: var(--a3);

      @include at-least(w1) {
        margin: 0;
      }
    }

    &:nth-child(2) {
      grid-column: content-half-b;
    }
  }
}
