@use "utilities" as *;

.details {
  @extend %shell-bulleted-list;

  &__key {
    @extend %typography-subheading;

    grid-column: details-key;
  }

  &__value,
  &__value-list {
    @extend %typography-details;

    grid-column: details-value;
    margin: 0;
  }

  &__separator {
    border: 0;
    background-color: var(--stroke-separator);
    grid-column: content-full;
    height: 1px;
    margin: var(--a0) 0;
    transform: scaleY(.5);
  }
}
