@use "utilities" as *;

.details {
  @extend %shell-bulleted-list;

  &__key {
    @extend %typography-subheading;

    grid-column: details-key;
    margin-bottom: var(--a-1);

    @include at-least(w1) {
      margin-bottom: 0;
    }
  }

  &__value,
  &__value-list {
    @extend %typography-details;

    grid-column: details-value;
    margin: 0;
  }

  &__value-list {
    margin-left: var(--a1);

    @include at-least(w0) {
      margin: 0;
    }
  }

  &__separator {
    @include hairline(horizontal);

    border: 0;
    background-color: var(--stroke-separator);
    grid-column: content-full;
    height: 1px;
    margin: var(--b0) 0;

    @include at-least(w1) {
      margin: var(--a0) 0;
    }
  }
}
