@use "utilities" as *;

body {
  font-family: -apple-system;
  background: $test;
}

// Layout shell, with navigation bar and main content area.
.content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 4rem;
  min-height: 100vh;
  position: relative;
  padding: 0 2rem;
  width: calc(100% - 4rem);
  z-index: 5;
}

.structure {
  flex: 0 0 auto;
  max-width: 90rem;
  transition: transform .35s;
  transform-origin: right var(--percent-scrolled);

  .nav.js--expanded ~ .content & {
    // Use scale3d to avoid a page repaint (it’s scaling down so no need to do so)
    // Also include a tiny z-axis scale to avoid a Chrome rendering bug.
    transform: translateX(0) scale3d(var(--scale-nav), var(--scale-nav), .0000001);
    transition: transform .35s;

    &::before {
      background: rgba(255,205,225,.25);
    }
  }

  & > * {
    margin: 0;
    outline: 1px solid rgba(0, 230, 230, .5);
    outline-offset: -1px;
  }
}








.pagetitle {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  grid-column: fullwidth;

  @media (min-width: 720px) {
    padding: 0 calc(8rem + 1rem);
  }
}

.summary {
  font-weight: 300;
  font-size: 1.25rem;
  grid-column: summary;
}

.header {
  grid-column: sidebar;
  top: 2rem;

  h2 {

  }

  .header__parenthetical {
    color: #888;
    font-size: .875rem;
    font-weight: 400;
    margin-top: .25rem;
  }
}

hr.section-rule {
  border: 0;
  display: block;
  grid-column: fullwidth;
  height: 4rem;
  position: relative;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 196dpi) {
    transform: scaleY(.5);
  }

  &::before {
    background-color: #999;
    content: '';
    display: block;
    left: 0;
    height: 1px;
    position: absolute;
    right: 0;
    top: 2rem;
  }
}

h3 {
  grid-column: content;
}

.copyimage {
  align-self: stretch;
  grid-column: aside;
}

p {
  grid-column: content;

  .paragraph--beforeimage {
    grid-column: content-aside;
  }
}

.spec__key {
  grid-column: spec-key;
}

.spec__value,
.spec__valuelist {
  grid-column: spec-value;
}

ul {
  grid-column: content;
  list-style: none;
  padding: 0;

  li {
    position: relative;

    &::before {
      background: #aaa;
      border-radius: 50%;
      content: '';
      display: block;
      height: .25rem;
      left: -.75rem;
      position: absolute;
      transform: translate(50%, -50%);
      top: .625rem;
      width: .25rem;
    }
  }

  li + li {
    margin-top: .5rem;
  }
}















// Grid properties are kept here for clarity.
.structure {
  // Essentially single-column, with a
  // narrow ending sidebar for a little variation.
  display: grid;
  grid-template:
    minmax(min-content, 20vh) auto /
    [sidebar-start fullwidth-start content-start summary-start content-aside-start aside-start spec-key-start spec-value-start gallery-start] 6fr
    [content-end content-aside-end spec-key-end spec-value-end summary-end] 1fr
    [sidebar-end aside-end fullwidth-end gallery-end];
  grid-gap: 1rem;
  align-items: baseline;

  @media (min-width: 512px) {
    grid-template:
      minmax(min-content, 24vh) auto /
      [sidebar-start fullwidth-start content-start summary-start content-aside-start spec-key-start gallery-start] minmax(min-content, 8rem)
      1fr
      [spec-key-end spec-value-start] 1fr
      [content-aside-end aside-start] 1fr
      1fr
      [summary-end content-end sidebar-end] 1fr
      [aside-end fullwidth-end spec-value-end gallery-end];
  }

  @media (min-width: 720px) {
    grid-template:
      minmax(min-content, 28vh) auto /
      [sidebar-start fullwidth-start] minmax(min-content, 8rem)
      [sidebar-end content-start summary-start content-aside-start spec-key-start gallery-start] 1fr
      1fr
      [spec-key-end spec-value-start] 1fr
      [content-aside-end aside-start] 1fr
      [summary-end content-end] 1fr
      [aside-end fullwidth-end spec-value-end gallery-end];
  }

  @media (min-width: 1120px) {
    grid-template:
      minmax(min-content, 36vh) auto /
      [sidebar-start fullwidth-start] minmax(min-content, 8rem)
      [sidebar-end content-start summary-start content-aside-start spec-key-start gallery-start] 1fr
      [spec-key-end spec-value-start] 1fr
      1fr
      [summary-end content-end content-aside-end aside-start spec-value-end] 1fr
      1fr
      [aside-end fullwidth-end gallery-end];
  }
}
