

.pagetitle {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  grid-column: fullwidth;

  @media (min-width: 720px) {
    padding: 0 calc(8rem + 1rem);
  }
}

.summary {
  font-weight: 300;
  font-size: 1.25rem;
  grid-column: summary;
}

.header {
  grid-column: sidebar;

  &__parenthetical {
    color: #888;
    font-size: .875rem;
    font-weight: 400;
    margin-top: .25rem;
  }
}

hr.section-rule {
  border: 0;
  display: block;
  grid-column: fullwidth;
  height: 4rem;
  position: relative;

  &::before {
    background-color: #ccc;
    content: '';
    display: block;
    left: 0;
    height: 1px;
    position: absolute;
    right: 0;
    top: 2rem;
  }
}

.subheader {
  grid-column: content;
}

.copyimage {
  align-self: stretch;
  grid-column: aside;
}

.paragraph {
  grid-column: content;

  &--beforeimage {
    grid-column: content-aside;
  }
}

.spec__key {
  grid-column: spec-key;
}

.spec__value,
.spec__valuelist {
  grid-column: spec-value;
}

ul {
  grid-column: content;
  list-style: none;
  padding: 0;

  li {
    position: relative;

    &::before {
      background: #aaa;
      border-radius: 50%;
      content: '';
      display: block;
      height: .25rem;
      left: -.75rem;
      position: absolute;
      transform: translate(50%, -50%);
      top: .625rem;
      width: .25rem;
    }
  }

  li + li {
    margin-top: .5rem;
  }
}
