// Layout shell, with navigation bar and main content area.

.content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 4rem;
  min-height: 100vh;
  position: relative;
  padding: 0 2rem;
  width: calc(100% - 4rem);
  z-index: 5;

}

// See shell/_grid.scss for grid properties.
.structure {
  flex: 0 0 auto;
  max-width: 90rem;
  transition: transform .35s;
  transform-origin: right var(--percent-scrolled);

  .nav:hover ~ .content &,
  .nav:focus ~ .content &,
  .nav:focus-within ~ .content & {
    transform: translateX(0) scale(var(--scale-nav));
    transition: transform .35s;

    &::before {
      background: rgba(255,205,225,.25);
    }
  }

  & > * {
    margin: 0;
    outline: 1px solid rgba(0, 255, 255, .0);
    outline-offset: -1px;
  }
}
