{% extends "./shell/_shell.njk" %}

{% block titletag %}{{ title }} • John Matula{% endblock %}

{% block ogtitle %}{{ title }} • John Matula{% endblock %}

{% block content %}
<h1 class="pagetitle">{{ title }}</h1>
<p class="summary">{{ summary }}</p>
{{ content | safe }}
{% endblock %}
