---
title: Privacy

layout: general

summary: My team held over a dozen sessions to review aspects of our platform and workflows. After analyzing the feedback we collected, we delivered a plan to improve our core offering.

opengraph: See how we held over a dozen sessions to analyze benefits and drawbacks of our platform, leading to a plan to overhaul our core offering.
---



<h2>Process</h2>
<p>About a year into my time as Senior Product Designer at CrowdTwist, my team had [some good processes in place](product-design-at-crowdtwist) to ensure that new features were vetted and understood by users. These feedback sessions were working well for new additions to our platform, but I noticed that we lacked a way to review existing features. How could we evaluate the current state of things, especially legacy parts of the platform that weren’t thoroughly tested with users?</p>

<p>I put together a plan that helped us fill this gap: 13 feedback sessions that would manage to cover the entire platform. Each meeting was an hour long and was open to the entire organization, including Engineering, Client Success, Marketing, and Sales. The sessions were purposefully broad so that my resource-constrained team—that is, my team of two—could tackle the most pressing issues while saving deeper investigations for later.</p>

<p>Each session had two major parts: a discussion and a participatory design exercise. We started with an open forum of the benefits and drawbacks of that particular session’s topic. In these dialogues, we made sure to seek out a balance of opinions, avoiding sole reliance on the most vocal participant. These casual discussions helped warm everyone up for the hands-on exercise, which was something like card sorting, sketching, or storyboarding.</p>

<h2>Outcomes</h2>
<p>So what were we left with? Thanks to good participation from the company, we had plenty discussion feedback to sift through, design exercise results to decipher, and new questions to dig into later. We ended up summarizing the discussion points and pertinent data from the design exercises after each session while it was fresh.</p>

<p>Then, after all of the sessions, we created a prioritized plan of what areas needed UX attention first. We plotted features based on estimated technical complexity and design complexity onto a chart. Whatever was in the lower-left quadrant (low tech effort and design effort) formed the list of areas that were highest priority to address first. Combined with our list of topics to investigate further, we had a sound path forward to improve the CrowdTwist platform.</p>

<p>Overall, I was really pleased with how this project turned out. It certainly helped that the company was as engaged and willing to help out as they were—not to mention an excellent team member to help collect and analyze feedback in each of our sessions. So, as a way to share our plan and give gratitude to everyone, we hosted a UX-themed happy hour.</p>




<h2>Previews</h2>
<ul>
  <li>powerpoints</li>
  <li>happy hour pics</li>
  <li>card sorting exercises</li>
  <li>post-it wall with Megan</li>
</ul>



<h2>Evaluation <div class="header__parenthetical"><span class="a11y--hidden">(</span>What worked well&nbsp;and what I’d do differently<span class="a11y--hidden">)</span></div></h2>
<ul class="retrospective">
<li class="retrospective--good">Good: We collected feedback that had never been recorded at CrowdTwist.</li>
<li class="retrospective--good">Good: The sessions improved visibility of our team and helped validate our long-term goals.</li>
<li class="retrospective--bad">Bad: Large format of sessions meant that less-vocal colleagues could be unwilling to speak up, even when encouraged to do so. In the future, we could vary feedback size and format to better support everyone’s preferences.</li>
</ul>


<h2 class="header">Details</h2>

<h3 class="spec__key">Timeframe</h3>
<p class="spec__value">June 2019 to September 2019</p>

<h3 class="spec__key">Tech specs</h3>
<ul class="spec__value">
<li>13 feedback sessions that covered the entirety of the CrowdTwist platform</li>
<li>Guided discussions to understand problem spots for each feature</li>
<li>Participatory design exercises to try out possible solutions for each feature, including role</li> playing, card sorting, sketches, storyboards, user journeys, prioritization
<li>A prioritized plan of features and areas to address first, reviewed by the team</li>
<li>A UX-themed happy hour, where we put out a call for testers for future phases (and, y’know, enjoyed ourselves, too)</li>
</ul>

<h3 class="spec__key">Skills in use</h3>
<ul class="spec__value">
<li>Presentations</li>
<li>UX testing</li>
<li>Discussion facilitation</li>
<li>Product strategy and prioritization</li>
</ul>

<h3 class="spec__key">Status as of August 2020</h3>
<p class="spec__value">After sessions were completed in September 2019, we moved onto redesigning and testing features with users. These redesigns are still in progress.</p>
