@use "utilities" as *;

.hero {
  background-color: var(--fill-page-secondary);
  color: var(--color-text-primary);
  min-height: 44vh;

  margin: 0 0 var(--a3);

  &__visual {
    grid-column: full-bleed;
    min-height: 33vh;
  }

  &__title {
    @extend %typography-title;

    grid-column: content-full;
    margin: 0 0 var(--b1);
  }

  &__summary {
    @extend %typography-summary;

    grid-column: content-full;
    margin: 0 0 var(--a2);
  }
}
