{% macro asideStart(classList = []) %}
<figure class="aside {{ classList }}">
{% endmacro %}

<!-- Nunjucks macros can’t handle asynchronous calls. Ugh. -->
<!-- For now, I’m using wrapping tags to sidestep the limitation. -->

{% macro asideEnd(description = "") %}
  {% if description != "" %}
    <figcaption class="aside__caption">{{ description }}</figcaption>
  {% endif %}
</figure>
{% endmacro %}
