@use "utilities" as *;

aside {
  background: var(--hue-blue-100);
  float: right;
  margin: 0 calc(var(--a1) * -1) var(--a0) var(--a0);
  min-height: var(--a4);
  width: calc(33.3333% - (var(--a0) * 2 / 3) + var(--a1));
  //clip-path: polygon(7rem 0, 0 10rem, 14rem 10rem);
  //shape-outside: polygon(7rem 0, 0 10rem, 14rem 10rem); //note! negative margins affects percentages for shape outside
}
