{% macro aside(image, alt, description, classList = []) %}
<aside class="aside">
  <img class="aside__visual" src="{{ image }}" alt="{{ alt }}">
  {% if description != "" %}
    <p class="aside__caption">{{ description }}</p>
  {% endif %}
</aside>
{% endmacro %}
