@use "utilities" as *;

// I style generic tags in the `section` block to avoid class="" bloat.
.case-study {
  .hero {
    @extend %layout-case-study;

    background-color: var(--hue-shade-100);
    min-height: 44vh;

    margin: 0 0 var(--a3);

    &__visual {
      grid-column: full-bleed;
      min-height: 33vh;
    }

    &__title {
      @extend %typography-title;

      grid-column: content-full;
      margin: 0 0 var(--b1);
    }

    &__summary {
      @extend %typography-summary;

      grid-column: content-full;
      margin: 0 0 var(--a2);
    }
  }

  .section {
    @extend %layout-case-study;

    margin: 0 0 var(--a3);

    > p:first-of-type::first-line,
    strong,
    h3 + p::first-line {
      font-weight: 450;
    }

    > :last-child {
      margin-bottom: 0;
    }

    &--gallery {
      background-color: var(--hue-shade-100);
      padding: var(--a3) 0;
    }
  }

  .header {
    grid-column: header;

    h2 {
      @extend %typography-section-heading;

      margin: 0 0 var(--a-1);
    }

    &__parenthetical {
      @extend %typography-supporting;

      color: var(--hue-shade-700);
    }
  }

  h3 {
    @extend %typography-subheading;

    grid-column: content-full;
    margin: var(--a1) 0 var(--a0);
  }

  p, ul {
    @extend %typography-body;

    grid-column: content-full;
    margin: 0 0 var(--b0);
  }

  .p__container {
    grid-column: content-full;

    aside {
      background: var(--hue-blue-100);
      float: right;
      margin: 0 calc(var(--a1) * -1) var(--a0) var(--a0);
      min-height: var(--a4);
      width: calc(33.3333% - (var(--a0) * 2 / 3) + var(--a1));

      //clip-path: polygon(7rem 0, 0 10rem, 14rem 10rem);
      //shape-outside: polygon(7rem 0, 0 10rem, 14rem 10rem); //note! negative margins affects percentages for shape outside
    }
  }

  ul {
    grid-column: content-full;
    list-style: none;
    padding: 0;

    li {
      margin: 0 0 var(--a-1);
      position: relative;

      // I want a responsive bullet, but using rems on pseudo elements can
      // make them non-square (they get squished!). This uses a clip path
      // on a pseudo element that spans the height of the list item, with
      // an extra half-pixel for safety. (This is so fiddly...)
      &::before {
        background: var(--hue-shade-500);
        clip-path: circle(calc((var(--a-2) / 2) - 0.5px) at 50% calc(var(--a0) * 1.5 / 2));
        content: '';
        display: block;
        height: 100%;
        margin: 0 calc(var(--b0) - var(--a-2)) 0 calc(var(--a0) * -1);
        position: absolute;
        width: var(--a-2);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .details__key {
    @extend %typography-subheading;

    grid-column: details-key;
  }

  .details__value,
  .details__valuelist {
    @extend %typography-details;

    grid-column: details-value;
  }
}


// CASE STUDY GRID
//
// The baseline grid to use for case study modules. Since subgrid isn’t quite
// a reality yet, each section will be a separate grid instance.
//
// Columns are strictly defined; rows auto fill in (e.g., for new ¶s).
// I’m using column line naming heavily, hooking into the automatic
// behavior that comes with `-start` and `-end` naming along with
// `grid-column`.
//
// There are 14 lines defined in total. At small breakpoints, lines are
// “collapsed” and start to “split apart” at wider breakpoints. This makes
// positioning trivial by simply defining a `grid-area` and watching all the
// elements get laid out as expected across all breakpoints.
//
// All done with a placeholder class (%) so that I’m not repeating this
// behemoth of named grid lines. (Is this the right way to do this? I suppose
// only time will tell haha.)


%layout-case-study {
  align-items: baseline;
  display: grid;
  //outline: 4px solid var(--hue-red-300);
  outline-offset: -5px;
  grid-template-columns:
    [full-bleed-start]
      var(--b0)
    [header-start content-full-start content-half-a-start content-half-b-start content-third-a-start content-third-b-start content-third-c-start details-key-start]
      1fr
    [details-key-end]
      var(--a0)
    [details-value-start]
      3fr
    [content-full-end content-half-a-end content-half-b-end content-third-a-end content-third-b-end content-third-c-end details-value-end]
      var(--b0)
    [full-bleed-end];

  @include at-least(w0) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--a1)
      [header-start content-full-start content-half-a-start content-half-b-start content-third-a-start content-third-b-start content-third-c-start details-key-start]
        1fr
      [details-key-end]
        var(--a0)
      [details-value-start]
        2fr
      [content-full-end content-half-a-end content-half-b-end content-third-a-end content-third-b-end content-third-c-end details-value-end]
        var(--b0)
      [full-bleed-end];
  }

  @include at-least(w1) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b1)
      [header-start content-full-start content-half-a-start content-half-b-start content-third-a-start content-third-b-start content-third-c-start details-key-start]
        1fr
      [details-key-end]
        var(--b1)
      [details-value-start]
        2fr
      [content-full-end content-half-a-end content-half-b-end content-third-a-end content-third-b-end content-third-c-end details-value-end]
        var(--b1)
      [full-bleed-end];
  }

  @include at-least(w2) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b2)
      [header-start]
        var(--a4)
      [header-end]
        var(--b1)
      [content-full-start content-half-a-start content-third-a-start details-key-start]
        1fr
      []
        var(--b1)
      []
        1fr
      [content-third-a-end details-key-end]
        var(--b1)
      [content-third-b-start details-value-start]
        1fr
      [content-half-a-end]
        var(--b1)
      [content-half-b-start]
        1fr
      [content-third-b-end]
        var(--b1)
      [content-third-c-start]
        1fr
      []
        var(--a2)
      []
        1fr
      [content-full-end content-half-b-end content-third-c-end details-value-end]
        var(--b2)
      [full-bleed-end];
  }

  @include at-least(w3) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b2)
      [header-start]
        var(--a4)
      [header-end]
        var(--b1)
      [content-full-start content-half-a-start content-third-a-start details-key-start]
        1fr
      []
        var(--b1)
      []
        1fr
      [content-third-a-end details-key-end]
        var(--b1)
      [content-third-b-start details-value-start]
        1fr
      [content-half-a-end]
        var(--b1)
      [content-half-b-start]
        1fr
      [content-third-b-end]
        var(--b1)
      [content-third-c-start]
        1fr
      []
        var(--b1)
      []
        1fr
      [content-full-end content-half-b-end content-third-c-end details-value-end
       float-gutter-start]
        var(--b3)
      [float-gutter-end]
        var(--b2)
      [full-bleed-end];
  }

  @include at-least(w4) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b3)
      [header-start]
        var(--a4)
      [header-end]
        var(--b1)
      [content-full-start content-half-a-start content-third-a-start details-key-start]
        1fr
      []
        var(--b1)
      []
        1fr
      [content-third-a-end details-key-end]
        var(--b1)
      [content-third-b-start details-value-start]
        1fr
      [content-half-a-end]
        var(--b1)
      [content-half-b-start]
        1fr
      [content-third-b-end]
        var(--b1)
      [content-third-c-start]
        1fr
      []
        var(--b1)
      []
        1fr
      [content-full-end content-half-b-end content-third-c-end details-value-end
       float-gutter-start]
        var(--b4)
      [float-gutter-end]
        var(--b3)
      [full-bleed-end];
  }

  @include at-least(w5) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        minmax(var(--b3),auto)
      [header-start]
        var(--a4)
      [header-end]
        var(--b2)
      [content-full-start content-half-a-start content-third-a-start details-key-start]
        minmax(auto,var(--a3))
      []
        var(--b1)
      []
        minmax(auto,var(--a3))
      [content-third-a-end details-key-end]
        var(--b2)
      [content-third-b-start details-value-start]
        minmax(auto,var(--a3))
      [content-half-a-end]
        var(--b2)
      [content-half-b-start]
        minmax(auto,var(--a3))
      [content-third-b-end]
        var(--b2)
      [content-third-c-start]
        minmax(auto,var(--a3))
      []
        var(--b2)
      []
        minmax(auto,var(--a3))
      [content-full-end content-half-b-end content-third-c-end details-value-end
       float-gutter-start]
        var(--b5)
      [float-gutter-end]
        minmax(var(--b3),auto)
      [full-bleed-end];
  }
}
