{% extends "../_shell/_shell.njk" %}
{% from "src/components/hero/_hero.njk" import hero %}

{% block titletag %}{{ title }} • John Matula{% endblock %}

{% block ogtitle %}{{ title }} • John Matula{% endblock %}

{% block ogdesc %}{{ ogdesc }}{% endblock %}

{% block ogimage %}{{ ogimage }}{% endblock %}

{% block content %}
  {{ hero(title, summary) }}
  <div class="case-study">
    {{ content | safe }}
  </div>
{% endblock %}
