@use "utilities" as *;

// I style generic tags in the `section` block to avoid class="" bloat.
.case-study section {
  @extend %layout-case-study;
  @extend %shell-bulleted-list;

  > p:first-of-type::first-line,
  strong,
  h3 + p::first-line {
    font-weight: 450;
  }

  > :last-child {
    margin-bottom: 0;
  }

  h3 {
    @extend %typography-subheading;

    grid-column: content-full;
    margin: var(--a1) 0 var(--a0);
  }

  p, ul {
    @extend %typography-body;

    grid-column: content-full;
    margin: 0 0 var(--b0);
  }

  ul {
    padding-left: var(--a1);
  }

  .section__container, .p__container {
    grid-column: content-full;
  }
}


// CASE STUDY GRID
//
// The baseline grid to use for case study modules. Since subgrid isn’t quite
// a reality yet, each section will be a separate grid instance.
//
// Columns are strictly defined; rows auto fill in (e.g., for new ¶s).
// I’m using column line naming heavily, hooking into the automatic
// behavior that comes with `-start` and `-end` naming along with
// `grid-column`.
//
// There are 18 lines (17 cols) defined in total. At small breakpoints, lines
// are “collapsed” and start to “split apart” at wider breakpoints. This makes
// positioning trivial by simply defining a `grid-area` and watching all the
// elements get laid out as expected across all breakpoints.
//
// All done with a placeholder class (%) so that I’m not repeating this
// behemoth of named grid lines. (Is this the right way to do this? I suppose
// only time will tell haha.)

.grid--case-study {
  @extend %layout-case-study;
}

%layout-case-study {
  align-items: baseline;
  display: grid;
  margin: 0 0 var(--a3);
  grid-template-columns:
    [full-bleed-start]
      var(--gap-grid-major)
    [header-start content-full-start content-half-a-start content-half-b-start details-key-start details-value-start]
      1fr
    [header-end content-full-end content-half-a-end content-half-b-end details-key-end details-value-end]
      var(--gap-grid-major)
    [full-bleed-end];

  @include at-least(w0) {
    grid-template-columns:
      [full-bleed-start]
        var(--gap-grid-major)
      [header-start content-full-start content-half-a-start details-key-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [details-key-end]
        var(--gap-grid-minor)
      [details-value-start]
        1fr
      [content-half-a-end]
        var(--gap-grid-minor)
      [content-half-b-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [content-full-end content-half-b-end details-value-end]
        var(--gap-grid-major)
      [full-bleed-end];
  }

  @include at-least(w1) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--gap-grid-major)
      [header-start content-full-start content-half-a-start details-key-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [details-key-end]
        var(--gap-grid-minor)
      [details-value-start]
        1fr
      [content-half-a-end]
        var(--gap-grid-minor)
      [content-half-b-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [content-full-end content-half-b-end details-value-end]
        var(--gap-grid-major)
      [full-bleed-end];
  }

  @include at-least(w2) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--gap-grid-major)
      [header-start]
        var(--a4)
      [header-end]
        var(--gap-grid-major)
      [content-full-start content-half-a-start details-key-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [details-key-end]
        var(--gap-grid-minor)
      [details-value-start]
        1fr
      [content-half-a-end]
        var(--gap-grid-minor)
      [content-half-b-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [content-full-end content-half-b-end content-third-c-end details-value-end]
        var(--gap-grid-major)
      [full-bleed-end];
  }

  @include at-least(w3) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--gap-grid-major)
      [header-start]
        var(--a4)
      [header-end]
        var(--gap-grid-major)
      [content-full-start content-half-a-start details-key-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [details-key-end]
        var(--gap-grid-minor)
      [details-value-start]
        1fr
      [content-half-a-end]
        var(--gap-grid-minor)
      [content-half-b-start]
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      []
        var(--gap-grid-minor)
      []
        1fr
      [content-full-end content-half-b-end content-third-c-end details-value-end]
        var(--gap-grid-minor)
      []
        var(--width-float-gutter)
      []
        var(--gap-grid-major)
      [full-bleed-end];
  }

  @include at-least(w5) {
    grid-template-columns:
      [full-bleed-start]
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        minmax(var(--gap-grid-major),auto)
      [header-start]
        var(--a4)
      [header-end]
        var(--gap-grid-major)
      [content-full-start content-half-a-start details-key-start]
        minmax(auto,var(--b3))
      []
        var(--gap-grid-minor)
      []
        minmax(auto,var(--b3))
      [details-key-end]
        var(--gap-grid-minor)
      [details-value-start]
        minmax(auto,var(--b3))
      [content-half-a-end]
        var(--gap-grid-minor)
      [content-half-b-start]
        minmax(auto,var(--b3))
      []
        var(--gap-grid-minor)
      []
        minmax(auto,var(--b3))
      []
        var(--gap-grid-minor)
      []
        minmax(auto,var(--b3))
      [content-full-end content-half-b-end content-third-c-end details-value-end]
        var(--gap-grid-minor)
      []
        repeat(4, minmax(auto,var(--b3)))
      []
        minmax(var(--gap-grid-major),auto)
      [full-bleed-end];
  }
}
