@use "utilities" as *;

.retrospective {
  &__list {
    grid-column: content-full;
    list-style: none;
  }

  // Mixing typefaces “inline” requires a line height with units.
  &__summary {
    @extend %typography-body;

    align-items: baseline;
    line-height: 1.33rem;
  }

  &__icon {
    display: inline-block;
    height: .75em;
    margin-right: var(--a-2);
    vertical-align: baseline;
    width: .75em;
  }

  &__stroke {
    fill: none;
    stroke: var(--color-text-secondary);
    stroke-width: 2;
  }

  &__content {
    @extend %typography-details;

    color: var(--color-text-secondary);
    line-height: 1.5rem;
    margin-top: var(--a-2);
  }

  &__separator {
    @include hairline(horizontal);

    border: 0;
    background-color: var(--stroke-separator);
    grid-column: content-full;
    height: 1px;
    margin: var(--b0) 0;

    @include at-least(w1) {
      margin: var(--a0) 0;
    }
  }
}
