@use "utilities" as *;

.retrospective {
  &__list {
    grid-column: content-full;
    list-style: none;
  }

  &__summary {
    @extend %typography-details;

    align-items: baseline;
    font-weight: 700;
  }

  &__icon {
    display: inline-block;
    height: .75em;
    margin-right: var(--a-2);
    vertical-align: baseline;
    width: .75em;
  }

  &__stroke {
    fill: none;
    stroke: var(--color-text-secondary);
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
  }

  &__content {
    @extend %typography-retrospective-content;

    margin-top: var(--a-2);
  }

  &__separator {
    border: 0;
    background-color: var(--stroke-separator);
    grid-column: content-full;
    height: 1px;
    margin: var(--b0) 0;
    transform: scaleY(.5);

    @include at-least(w1) {
      margin: var(--a0) 0;
    }
  }
}
