<div class="contact" x-data="contact()">
  <div class="contact__close">
    <button @click="sendSidebarCloseEvent()" aria-label="Close sidebar">
      {% include "src/supporting/inline-svg/x.svg" %}
    </button>
  </div>
  <div class="contact__content">
    <h2 class="contact__header">{% if contactHeader %}{{ contactHeader}}{% else %}Let’s get in&nbsp;touch!{% endif %}</h2>
    <p class="contact__description">Email me at john@johnmatu.la.</p>
    <ul class="contact__links">
      <li class="contact__linkitem">
        <a class="contact__link" href="mailto:john@johnmatu.la">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="contact__icon"><g fill="none" fill-rule="evenodd" class="contact__icon-stroke" stroke-width="2"><path d="M2 4h16v12H2z"/><path d="M2 6l8 5 8-5"/></g></svg>
          email</a>
      </li>
      <li class="contact__linkitem">
        <a class="contact__link" href="/pdf/JohnMatula_resume.pdf">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="contact__icon"><g fill="none" fill-rule="evenodd" class="contact__icon-stroke" stroke-width="2"><path d="M3 2h9l5 5v11H3z"/><path d="M11 2v6h6"/></g></svg>
          résumé</a>
      </li>
      <li class="contact__linkitem">
        <a class="contact__link" href="https://www.linkedin.com/in/johnmatula/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="contact__icon"><g fill="none" fill-rule="evenodd"><rect width="16" height="16" x="2" y="2" class="contact__icon-stroke" stroke-width="2" rx="2"/><path class="contact__icon-fill" fill-rule="nonzero" d="M6.938 15.007V8.178H5.065v6.829zM10.65 15.007V11.31c0-.762.751-1.486 1.64-1.486.806 0 1.019.543 1.019 1.342v3.84h1.9v-4.09c0-1.419-.768-2.862-2.66-2.862-.629 0-1.336.201-1.9.755v-.64h-1.9v6.837h1.9z"/><circle cx="6" cy="6" r="1.25" class="contact__icon-fill"/></g></svg>
          LinkedIn</a>
      </li>
      <li class="contact__linkitem">
        <a class="contact__link" href="https://www.instagram.com/matulaspatula/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="contact__icon"><g fill="none" fill-rule="evenodd"><path class="contact__icon-stroke" stroke-width="2" d="M7.128 2h5.744c1.783 0 2.43.186 3.082.534.652.349 1.163.86 1.512 1.512.348.652.534 1.299.534 3.082v5.744c0 1.783-.186 2.43-.534 3.082a3.635 3.635 0 01-1.512 1.512c-.652.348-1.299.534-3.082.534H7.128c-1.783 0-2.43-.186-3.082-.534a3.635 3.635 0 01-1.512-1.512C2.186 15.302 2 14.655 2 12.872V7.128c0-1.783.186-2.43.534-3.082a3.635 3.635 0 011.512-1.512C4.698 2.186 5.345 2 7.128 2z"/><circle cx="10" cy="10" r="3.5" class="contact__icon-stroke" stroke-width="2"/><circle cx="14.75" cy="5.25" r="1.25" class="contact__icon-fill"/></g></svg>
          Instagram</a>
      </li>
      <li class="contact__linkitem">
        <a class="contact__link" href="https://github.com/johnmatula">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="contact__icon"><g fill="none" fill-rule="evenodd" class="contact__icon-stroke" stroke-width="2"><path d="M14.912 17.543a9 9 0 10-13.63-5.301M7.5 20v-1.875c0-.621.504-1.125 1.125-1.125h2.75c.621 0 1.125.504 1.125 1.125V20"/><path d="M14.201 6.25c.288.983.368 1.813.24 2.49.354.584.559 1.269.559 2.038 0 2.628-2.242 3.722-5 3.722s-5-1.094-5-3.722c0-.77.205-1.454.56-2.04-.129-.675-.05-1.505.239-2.488.97.1 1.686.304 2.145.61A5.961 5.961 0 0110 6.5c.717 0 1.418.125 2.057.36.458-.306 1.173-.51 2.144-.61zM7.5 17.965c-2.172.209-3.507-.549-3.921-1.607C3.165 15.3 2.438 14.754 1.5 14.5"/></g></svg>
          GitHub</a>
      </li>
    </ul>
  </div>
</div>
