@use "utilities" as *;

.contact {
  bottom: 0;
  color: var(--color-submenu);
  contain: size layout;
  height: calc(var(--height-navbar-expanded) * 1rem);
  left: 0;
  overflow: hidden;
  opacity: 0;
  max-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(calc(var(--height-navbar-difference) * -1rem));
  transition: opacity $timing-sidebar-fade-out, transform $timing-sidebar-slide-out, visibility 0s $timing-sidebar-fade-out;
  visibility: hidden;
  z-index: $z-sidebar-contact;

  @include at-least(w1) {
    height: 100vh;
    overflow: hidden;
    padding: var(--a2) 0 0 calc((var(--env-safe-left) * 1rem));
    transform: translateX(calc(var(--width-sidebar-difference) * -1rem));
    width: calc(var(--width-sidebar-expanded) * 1rem);
  }

  .js--expanded & {
    opacity: 1;
    transform: translateX(0) translateY(0);
    transition: opacity $timing-sidebar-fade-in, transform $timing-sidebar-slide-in, visibility 0s 0s;
    visibility: visible;
  }

  &__close {
    display: flex;
    right: 0;
    position: fixed;
    top: calc(var(--env-safe-top) * 1rem);

    button {
      align-items: center;
      background: none;
      border: 0;
      color: var(--color-submenu);
      cursor: pointer;
      display: flex;
      height: calc(var(--height-logo) + var(--b-1) + var(--b-1));
      justify-content: flex-end;
      margin: 0;
      padding: var(--b-1) var(--a0);
      width: calc(var(--width-logo) + var(--a0) + var(--a0));

      @include at-least(w1) {
        height: calc(var(--height-logo) + var(--a1) + var(--a1));
        padding: var(--a1) var(--a0);
      }

      svg {
        height: var(--height-logo);

        * {
          stroke: var(--hue-red-100);
          transition: stroke .125s;
          vector-effect: non-scaling-stroke;
        }
      }

      &:hover svg *, &:focus svg * {
        stroke: var(--hue-shade-100);
      }

      &:active svg * {
        stroke: var(--hue-red-300);
        transition: none;
      }
    }
  }

  &__content {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: var(--b-1) 0 var(--a0) calc(var(--env-safe-left) * 1rem);
    position: fixed;
    right: 0;
    top: calc((var(--height-navbar-collapsed) * 1rem));

    @include at-least(w1) {
      top: calc(var(--height-logo) + var(--a1) + var(--a1));
      padding-top: var(--a1);
    }
  }

  &__header {
    padding: 0 var(--a0) var(--a0);
  }

  &__description {
    @extend %typography-retrospective-content;

    padding: 0 var(--a0) var(--a1);
  }

  &__links {
    @extend %typography-details;

    font-weight: 600;
    list-style: none;
    margin: 0;
  }

  &__linkitem {
    position: relative;
  }

  .contact__linkitem + .contact__linkitem::before {
    background: var(--stroke-separator);
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: var(--a0);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__link {
    color: white; // TODO: help meee
    display: flex;
    height: var(--a2);
    padding: var(--a-1) var(--a0);
  }
}
