@use "utilities" as *;

.header {
  // I’m using a magic number to ensure that the header content runs parallel
  // to the content. However, it can’t be outrageously high because Firefox
  // will actually create any extra rows (so it’s sluggish with too many).
  align-self: stretch;
  grid-column: header;
  grid-row: 1 / 20;
  // TODO: nudge with negative margin to manually align baselines

  &__contents {
    @include at-least(w2) {
      position: sticky;
      top: var(--a1);
    }
  }

  h2 {
    @extend %typography-section-heading;

    color: var(--color-text-primary);
    margin: 0 0 var(--a-1);
  }

  &__parenthetical {
    @extend %typography-supporting;

    color: var(--color-text-secondary);
  }
}
