---
title: John Matula, a designer and developer

permalink: /index.html

ogdesc: Hey there! I’m John, a designer and frontend developer. Take a look at some of my work and get in touch.

ogimage: /img/og-home.png
---

{% extends "src/templates/home/home.njk" %}


{% block introduction %}
Hey there!<br>I’m <strong>John Matula</strong>,<br>a product designer<br>and frontend developer.
{% endblock %}


{% block about %}
<svg class="a11y--hidden">
  <defs>
    <clipPath id="para-one" clipPathUnits="objectBoundingBox"><path d="M0,0.5 a0.5,0.5,0,1,1,1,0 a0.5,0.5,0,1,1,-1,0"/></clipPath>
  </defs>
</svg>

<div class="home__intro-container">
  <aside class="home__float home__float--para-one">{% responsiveImage "./src/supporting/images/para-one.jpg", "John’s headshot", "", "basic" %}</aside>
  <p class="home__leading">I’ve been interested in design and tech as long as I can remember, so a lot of my hobbies sound like work (they aren’t, I swear!). I’m often reading about the newest <a href="https://underconsideration.com/brandnew/">brand redesign</a> or playing around with typography and photography on <a href="https://www.instagram.com/matulaspatula/">my Instagram</a>.</p>

  <p class="home__leading">Beyond that, you’ll also find me taking care of too many plants, taste-testing snacks, and passing quarantine with a sudoku or Jumble. And I can’t forget some of my favorite acronyms, like <a href="http://www.vh1.com/shows/rupauls-drag-race">RPDR</a>, <a href="https://www.npr.org">NPR</a>, and <a href="https://www.themcelroy.family/mbmbam">MBMBaM</a>.</p>

  <p class="home__about">Professionally, I’ve been in some sort of UX design, graphic design, or frontend development role since 2012. I really enjoy seeing a project from all sides: its frontend and backend feasibility, its aesthetic quality, its business value.</p>

  <aside class="home__float home__float--para-last">{% include "src/supporting/inline-svg/larr.svg" %}</aside>
  <p class="home__about">I’m currently a Principal UX Designer at Oracle CrowdTwist. I lead the UX of our loyalty engine platform, and I also use our platform to create custom websites for several brands’ rewards programs.</p>
</div>
{% endblock %}


{% block projects %}
<h2>Case Studies</h2>
<ul>
  <li>
    <a class="link--smarthome" href="/projects/smarthome">
      {% include "src/supporting/inline-svg/projects-smarthome.svg" %}
      <h3>Smarthome</h3>
      <p>My hobby project: a custom web app that powers my apartment’s lighting</p>
    </a>
  </li>
  <li>
    <a class="link--redesign" href="/projects/ux-redesign">
      {% include "src/supporting/inline-svg/projects-feedback.svg" %}
      <h3>CrowdTwist UX Redesign</h3>
      <p>Participatory design sessions that led to a comprehensive plan to improve our core offering</p>
    </a>
  </li>
  <li>
    <a class="link--frontend" href="/projects/frontend-academy">
      {% include "src/supporting/inline-svg/projects-frontend.svg" %}
      <h3>Frontend Academy</h3>
      <p>Lectures and quizzes that bolstered the frontend knowledge of our engineering team</p>
    </a>
  </li>
  <li>
    <a class="link--recsports" href="/projects/recsports">
      {% include "src/supporting/inline-svg/projects-recsports.svg" %}
      <h3>Recreational Sports</h3>
      <p>A fully-designed website and CMS experience, from frontend to backend, leading to an increase in memberships</p>
    </a>
  </li>
</ul>
{% endblock %}


{% block work %}
<h2>More Work</h2>
<ul>
  <li><a href="/work/quarantina">Weekly Quarantine Count</a></li>
  <li><a href="/work/withers">Chris Withers’s Portfolio</a></li>
  <li><a href="/work/ascent">Ascent Rewards</a></li>
  <li><a href="/work/subway-diagram">Subway Diagram Art</a></li>
  <li><a href="/work/cab">Steakholder Rewards</a></li>
  <li><a href="/work/career-day">Career Day!</a></li>
  <li><a href="/work/lego">LEGO VIP Rewards</a></li>
  <li><a href="/work/vitamix">Vitamix Rewards</a></li>
  <li><a href="/work/sylvan">Sylvan Nation</a></li>
  <li><a href="/work/year-in-the-city">Year in the City</a></li>
  <li><a href="/work/conferences">Conference & Event Services</a></li>
  <li><a href="/work/wedding">Matula-Rosine Wedding</a></li>
  <li><a href="/work/dining-hub">Michigan Dining Digital Hub</a></li>
</ul>
{% endblock %}


{% block final %}
<h2>Let’s get in touch!</h2>
<div class="final__content">
  <p class="final__primary">Email me at <a href="mailto:john@johnmatu.la">john@johnmatu.la</a> and download my <a href="/pdf/JohnMatula_resume.pdf">résumé</a>.</p>
  <p class="final__supporting">Right now, I’m not accepting new projects beyond quick consultations, but thank you for your interest!</p>
</div>

{% endblock %}
