---
title: Privacy

layout: general

summary: My team held over a dozen sessions to review aspects of our platform and workflows. After analyzing the feedback we collected, we delivered a plan to improve our core offering.

opengraph: See how we held over a dozen sessions to analyze benefits and drawbacks of our platform, leading to a plan to overhaul our core offering.
---



<h2>Privacy</h2>
<p>PRIVACY!</p>
