@use "mixins" as *;
@use "variables" as *;

// Layout shell, with navigation bar and main content area.
.wrapper__outer {
  align-items: center;
  background: var(--hue-shade-0);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  z-index: 0;

  @include at-least(w0) {
    margin: 0 0 0 calc(var(--width-sidebar-difference) * -1rem);
    padding: 0; //need env safe????
    width: calc(100% + (var(--width-sidebar-difference) * 1rem));
  }
}

.wrapper__inner {
  flex: 1 1 100%;
  position: relative;
  transition: transform var(--timing-sidebar-slide-out);
  transform-origin: right var(--percent-scrolled);
  width: 100%;

  .sidebar.js--expanded ~ .wrapper__outer & {
    // Use `scale3d` to avoid a rerender (since the contents are scaling down,
    // it’s not necessary). Doing so requires a tiny z-axis scale so that
    // content doesn’t flash away in Chrome and Firefox (rendering bug?).
    transform: translateY(calc(var(--height-navbar-difference) * 1rem));
    transition: transform var(--timing-sidebar-slide-in);

    @include at-least(w0) {
      transform: translateX(0) scale3d(var(--scale-nav), var(--scale-nav), .00001);
    }
  }
}
