@use "mixins" as *;
@use "variables" as *;

// Layout shell, with navigation bar and main content area.
.wrapper__outer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  z-index: 0;

  @include at-least(w1) {
    margin: 0 0 0 calc(var(--width-sidebar-difference) * -1rem);
    padding: 0; //need env safe????
    width: calc(100% + (var(--width-sidebar-difference) * 1rem));
  }
}

.wrapper__inner {
  flex: 1 1 100%;
  position: relative;
  transition: transform var(--timing-sidebar-slide-out), transform-origin 0s var(--timing-sidebar-slide-out);
  transform-origin: right 0;
  transform: none;
  width: 100%;

  .sidebar.js--expanded ~ .wrapper__outer & {
    // Use `scale3d` to avoid a rerender (since the contents are scaling down,
    // it’s not necessary). Doing so requires a tiny z-axis scale so that
    // content doesn’t flash away in Chrome and Firefox (rendering bug?).
    //
    // Transform origin is set by JavaScript to avoid incurring unnecessary
    // repaints via custom properties. (Just rewriting a CSS class via JS
    // turns out to be more reliable in avoiding the dreaded repaints.)
    transform: translateY(calc(var(--height-navbar-difference) * 1rem));
    transition: transform var(--timing-sidebar-slide-in), transform-origin 0s 0s;

    @include at-least(w1) {
      transform: translateX(0) scale3d(var(--scale-nav), var(--scale-nav), .00001);
    }
  }
}

// Shared, per-section margins and padding.
%shell-bulleted-list {
  ul {
    padding: 0;

    // Set list-style to none on each list item to un-bork Safari Reader View.
    li {
      list-style: none;
      margin: 0 0 var(--a-1);
      position: relative;

      // I want a responsive bullet, but using rems on pseudo elements can
      // make them non-square (they get squished!). This uses a clip path
      // on a pseudo element that spans the height of the list item, with
      // an extra half-pixel for safety. (This is so fiddly...)
      &::before {
        background: var(--fill-bullet);
        clip-path: circle(calc((var(--a-2) / 2) - 0.5px) at 50% calc(var(--a0) * 1.5 / 2));
        content: '\200B'; // otherwise VoiceOver breaks!
        display: block;
        height: 100%;
        margin: 0 calc(var(--b0) - var(--a-2)) 0 calc(var(--a0) * -1);
        position: absolute;
        width: var(--a-2);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
