// Widths are defined in pixel values because font size is dependent
// on their values. On the flip side, heights are defined in rems.
$at-least-breakpoints: (

  'w0': (min-width:  420px),
  'w1': (min-width:  640px),
  'w2': (min-width:  760px),
  'w3': (min-width:  960px),
  'w4': (min-width: 1240px),
  'w5': (min-width: 1500px),

  // Heights
  'h0': (min-height: 29.03rem)
);

@mixin at-least($name) {
  // If the key exists in the map
  @if map-has-key($at-least-breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($at-least-breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "No breakpoints map value exists for ‘#{$name}’.";
  }
}

// Font utilities
@mixin font($font-weight, $font-size, $line-height, $letter-spacing: null, $font-family: null) {
  @if ($font-family) {
    font-family: $font-family;
  }
  @if ($letter-spacing) {
    letter-spacing: $letter-spacing / $base-font-size * 1rem;
  }

  font-size: $font-size / $base-font-size * 1rem;
  font-weight: $font-weight;
  line-height: $line-height / $base-font-size * 1rem;
}


.a11y--hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.a11y--no-text {
  color: transparent;
  font-size: 1px;
  line-height: 0px;
  overflow: hidden;
  text-indent: -9999px;
}
