@use 'mixins' as *;

//

:root {
  // ROOT EM HEIGHT BASES

  --rem-base: 17;

  @include at-least(w0) {
    --rem-base: 17.5;
  }

  @include at-least(w1) {
    --rem-base: 18;
  }

  @include at-least(w3) {
    --rem-base: 20;
  }

  @include at-least(w4) {
    --rem-base: 22;
  }

  @include at-least(w5) {
    --rem-base: 24;
  }


  // HUES
  //
  // The brand palette. To adhere to WCAG AA, these combinations are OK:
  //  •  Shades 0 and 100 can be used with any 500, 700, 900, or 1000 hue.
  //  •  Shades 0, 100, 300 can be used with any 700, 900, or 1000 hue.
  //  •  Shade 500 can be used with any other Shade.

  --hue-red-100: #f05f42;
  --hue-red-300: #ed3f1d;
  --hue-red-500: #bf2608;
  --hue-red-700: #9d2007;
  --hue-red-900: #761805;

  --hue-blue-0: #55d2dd;
  --hue-blue-100: #25afbb;
  --hue-blue-300: #1e8f99;
  --hue-blue-500: #145f66;
  --hue-blue-700: #0a4247;
  --hue-blue-900: #083236;

  --hue-shade-0: #fff;
  --hue-shade-100: #f6f5f3;
  --hue-shade-300: #bab8b5;
  --hue-shade-500: #74706d;
  --hue-shade-700: #4a4745;
  --hue-shade-800: #201f1d;
  --hue-shade-900: #171512;
  --hue-shade-1000: #0f0f0b;


  // TRANSLUCENT HUES
  //
  // Translucent shades are based on Shade 900.
  // Translucent red is based on Red 500.
  --translucent-red-0: rgba(191,38,8,0);
  --translucent-red-20: rgba(191,38,8,.2);
  --translucent-red-36: rgba(191,38,8,.36);

  --translucent-shade-5: rgba(23,21,18,.05);
  --translucent-shade-24: rgba(23,21,18,.24);
  --translucent-shade-54: rgba(23,21,18,.54);
  --translucent-shade-93: rgba(23,21,18,.93);

  --translucent-white-10: rgba(255,255,255,.1);
  --translucent-white-20: rgba(255,255,255,.2);
  --translucent-white-30: rgba(255,255,255,.3);
  --translucent-white-96: rgba(255,255,255,.96);


  // SEMANTIC COLORS
  --color-text-primary: var(--hue-shade-900);
  --color-text-secondary: var(--hue-shade-700);
  --color-text-content: var(--hue-shade-900);
  --color-body-link: var(--hue-red-500);
  --color-body-link-hover: var(--hue-shade-100);
  --color-body-link-active: var(--hue-shade-300);
  --color-nav-link: var(--hue-blue-500);
  --color-submenu: var(--hue-shade-100);
  --color-project-link: var(--hue-blue-500);
  --color-project-link-hover: var(--hue-blue-300);
  --color-project-link-active: var(--hue-blue-700);

  --fill-page-primary: var(--hue-shade-0);
  --fill-page-secondary: var(--hue-shade-100);
  --fill-bullet: var(--hue-shade-500);
  --fill-body-link: var(--translucent-red-0);
  --fill-body-link-hover: var(--hue-red-500);
  --fill-body-link-active: var(--hue-red-700);
  --fill-navbar: rgba(246,245,243,.90); // TODO!
  --fill-photoswipe: var(--translucent-white-96);
  --fill-hud: rgba(246,245,243,.90); // TODO!
  --fill-submenu-expanded: var(--hue-red-500);
  --fill-diagram-primary: var(--hue-blue-500);
  --fill-diagram-secondary: var(--hue-shade-300);

  --stroke-logo-filled: var(--hue-red-300);
  --stroke-logo-filled-active: var(--hue-red-700);
  --stroke-logo-filled-inverted: var(--hue-shade-100);
  --stroke-logo-unfilled: var(--translucent-shade-5);
  --stroke-separator: var(--translucent-shade-54);
  --stroke-navbar-separator: var(--translucent-shade-54);
  --stroke-hud: var(--translucent-shade-24);
  --stroke-body-link: var(--translucent-red-20);
  --stroke-diagram-primary: var(--hue-blue-500);
  --stroke-diagram-connector: var(--hue-red-300);

  @include is-theme(dark) {
    --color-text-primary: var(--hue-shade-0);
    --color-text-secondary: var(--hue-shade-300);
    --color-text-content: var(--hue-shade-100);
    --color-body-link: var(--hue-red-100);
    --color-body-link-hover: var(--hue-shade-100);
    --color-body-link-active: var(--hue-shade-0);
    --color-nav-link: var(--hue-shade-0);
    --color-project-link: var(--hue-blue-300);
    --color-project-link-hover: var(--hue-blue-100);
    --color-project-link-active: var(--hue-blue-0);

    --fill-page-primary: var(--hue-shade-800);
    --fill-page-secondary: var(--hue-shade-900);
    --fill-bullet: var(--hue-shade-500);
    --fill-body-link: var(--translucent-red-0);
    --fill-body-link-hover: var(--hue-red-700);
    --fill-body-link-active: var(--hue-red-500);
    --fill-navbar: var(--translucent-shade-93);
    --fill-photoswipe: var(--translucent-shade-93);
    --fill-hud: rgba(32,31,29,.86); // TODO!
    --fill-submenu-expanded: var(--hue-red-700);
    --fill-diagram-primary: var(--hue-blue-100);
    --fill-diagram-secondary: var(--hue-shade-700);

    --stroke-logo-filled: var(--hue-red-500);
    --stroke-logo-filled-active: var(--hue-red-300);
    --stroke-logo-unfilled: var(--translucent-white-10);
    --stroke-separator: var(--translucent-white-30);
    --stroke-navbar-separator: var(--translucent-white-30);
    --stroke-hud: var(--translucent-white-20);
    --stroke-body-link: var(--translucent-red-36);
    --stroke-diagram-primary: var(--hue-blue-100);
    --stroke-diagram-connector: var(--hue-red-500);
  }


  // BACKDROP FILTERS
  --backdrop-filter-panel: saturate(180%) blur(20px);


  // TYPE RAMP
  //
  // Two ramps are used at a basis of 1 (a) and 1.25 (b). The numeral
  // refers to the power at which the scale (1.618, ϕ, ugh I know) is raised.
  // That factor is then multiplied to a0 or b0 to get the rem value.

  --b6: 22.428rem;
  --a6: 17.942rem;
  --b5: 13.861rem;
  --a5: 11.089rem;
  --b4: 8.567rem;
  --a4: 6.854rem;
  --b3: 5.295rem;
  --a3: 4.236rem;
  --b2: 3.272rem;
  --a2: 2.618rem;
  --b1: 2.023rem;
  --a1: 1.618rem;
  --b0: 1.25rem;
  --a0: 1rem;
  --b-1: .773rem;
  --a-1: .618rem;
  --b-2: .477rem;
  --a-2: .382rem;


  // SEMANTIC SIZINGS
  --padding-link-decoration: .1rem;
  --gap-grid-major: var(--a0);
  --gap-grid-minor: var(--a0);
  --gap-grid-home: var(--a0);
  --width-float-gutter: 1fr;
  --width-home-mat: var(--b0);
  --width-logo: 2rem;
  --height-logo: 1.75rem;

  @include at-least(w0) {
    --gap-grid-major: var(--b0);
    --gap-grid-home: var(--b0);
    --width-home-mat: 1fr;
  }

  @include at-least(w1) {
    --gap-grid-major: var(--a1);
    --gap-grid-minor: var(--b0);
    --gap-grid-home: var(--b1);
  }

  @include at-least(w2) {
    --gap-grid-major: var(--b1);
    --width-home-mat: 2fr;
  }

  @include at-least(w3) {
    --gap-grid-major: var(--a2);
    --gap-grid-minor: var(--a1);
    --gap-grid-home: var(--b2);
  }

  @include at-least(w4) {
    --gap-grid-major: var(--b2);
    --gap-grid-minor: var(--b1);
    --width-home-mat: 3fr;
    --width-float-gutter: 2fr;
  }

  @include at-least(w5) {
    --width-float-gutter: 4fr;
    --width-home-mat: var(--b4);
    --gap-grid-home: var(--b3);
  }


  // HAIRLINE
  // This custom property value is used wherever hairlines are used
  // (in box shadows, pseudo content, and so on). A truly one-physical-pixel
  // line depends on the display density. (Life is short. Why not be extra?)
  //
  // This should not be used in conjunction with the hairline() mixin.
  // Instead, stick to one or the other, depending on the strategy needed.
  --hairline: 1px;
  --hairline-scale: 1;

  @include has-pixel-density(1.5) {
    --hairline: .5px;
    --hairline-scale: .5;
  }

  @include has-pixel-density(2.5) {
    --hairline: .333px;
    --hairline-scale: .333;
  }


  // SAFE-AREA ENVS
  // These values are redefined so that JavaScript can access them.
  --env-safe-top-pixels: env(safe-area-inset-top, 0px);
  --env-safe-right-pixels: env(safe-area-inset-right, 0px);
  --env-safe-bottom-pixels: env(safe-area-inset-bottom, 0px);
  --env-safe-left-pixels: env(safe-area-inset-left, 0px);


  // OPTICAL SIZING
  --optical-a: 16;
  --optical-b: 20;
  --optical-c: 25;

  @include is-theme(dark) {
    --optical-a: 8;
    --optical-b: 10;
    --optical-c: 13;
  }
}

// Z-INDEX VALUES
//
// Collected in one spot to avoid random too-many-nines.
// (Stacking contexts should also be considered when positioning.)
$z-backdrop: -1;
$z-base: 1;
$z-sidebar-footer: 5;
$z-sidebar: 10;
$z-sidebar-contact: 11;
$z-sidebar-safety-panel: 12;
$z-sidebar-logo: 13;
$z-sidebar-close: 14;
$z-photoswipe: 50;
$z-photoswipe-ui: 100;


// TIMINGS AND EASINGS
$timing-logo: 1.75s;
$timing-instructions-slide-in: .425s;
$timing-instructions-fade-in: .275s;
$timing-sidebar-slide-in: .425s;
$timing-sidebar-fade-in: .275s;
$timing-sidebar-slide-out: .25s;
$timing-sidebar-fade-out: .2s;
$timing-photoswipe-display-in: .375s;
$timing-photoswipe-display-out: .2s;
$timing-photoswipe-fade-in: .275s;
$timing-photoswipe-fade-out: .2s;
$timing-photoswipe-controls-fade-in: .2s;
$timing-photoswipe-controls-fade-out: .425s;
$timing-link: .15s;

$delay-logo: .5s;
$delay-instructions: 1.375s;


// FONT STACKS
//
// Since typefaces are loaded in asynchronously (they’re a little hefty as
// of August 2020), the fallback font is especially critical.

$font-jm: 'JMGroteskWeb', BlinkMacSystemFont, system-ui, -apple-system, 'Segoe UI', 'Apple Color Emoji';
$font-fraunces: 'FrauncesWeb', $font-jm;
