@use 'mixins' as *;

:root {
  // ROOT EM HEIGHT BASES

  --rem-base: 16;

  @include at-least(w1) {
    --rem-base: 18;
  }

  @include at-least(w3) {
    --rem-base: 20;
  }

  @include at-least(w4) {
    --rem-base: 22;
  }

  @include at-least(w5) {
    --rem-base: 24;
  }


  --padding-link-decoration: .1rem;
  --width-logo: 2rem;
  --height-logo: 1.75rem;


  // HUES
  //
  // The brand palette. To adhere to WCAG AA, these combinations are OK:
  //  •  Shades 0 and 100 can be used with any 500, 700, 900, or 1000 hue.
  //  •  Shades 0, 100, 300 can be used with any 700, 900, or 1000 hue.
  //  •  Shade 500 can be used with any other Shade.

  --hue-red-100: #f06242;
  --hue-red-300: #ed431d;
  --hue-red-500: #bf2908;
  --hue-red-700: #9d2207;
  --hue-red-900: #761a05;

  --hue-blue-100: #25b6bb;
  --hue-blue-300: #1e9599;
  --hue-blue-500: #146467;
  --hue-blue-700: #0a4547;
  --hue-blue-900: #0a3233;

  --hue-shade-0: #fff;
  --hue-shade-100: #f6f5f3;
  --hue-shade-300: #bab8b5;
  --hue-shade-500: #74706d;
  --hue-shade-700: #4a4745;
  --hue-shade-900: #171512;
  --hue-shade-1000: #000;


  // TRANSLUCENT HUES
  //
  // Translucent shades are based on Shade 900.
  // Translucent red is based on Red 500.
  --translucent-red-20: rgba(191,41,8,.2);

  --translucent-shade-05: rgba(23,21,18,.05);
  --translucent-shade-54: rgba(23,21,18,.54);

  --translucent-white-96: rgba(255,255,255,.96);



  // TYPE RAMP
  //
  // Two ramps are used at a basis of 1 (a) and 1.25 (b). The numeral
  // refers to the power at which the scale (1.618, ϕ, ugh I know) is raised.
  // That factor is then multiplied to a or b to get the rem value.

  --b5: 13.861rem;
  --a5: 11.089rem;
  --b4: 8.567rem;
  --a4: 6.854rem;
  --b3: 5.295rem;
  --a3: 4.236rem;
  --b2: 3.272rem;
  --a2: 2.618rem;
  --b1: 2.023rem;
  --a1: 1.618rem;
  --b0: 1.25rem;
  --a0: 1rem;
  --b-1: .773rem;
  --a-1: .618rem;
  --b-2: .477rem;
  --a-2: .382rem;


  // Z-INDEX VALUES
  //
  // Collected in one spot to avoid random too-many-nines.
  // (Stacking contexts should also be considered when positioning.)
  --z-backdrop: -1;
  --z-sidebar: 10;
  --z-sidebar-contact: 11;
  --z-sidebar-logo: 12;
  --z-sidebar-close: 13;
  --z-sidebar-footer: 14;


  // TIMINGS
  --timing-logo: 1.75s;
  --timing-instructions-slide-in: .425s;
  --timing-instructions-fade-in: .275s;
  --timing-sidebar-slide-in: .425s;
  --timing-sidebar-fade-in: .275s;
  --timing-sidebar-slide-out: .25s;
  --timing-sidebar-fade-out: .2s;
  --timing-link: .15s;

  --delay-logo: .5s;
  --delay-instructions: 1.375s;

  // SAFE-AREA ENVS
  // These values are redefined so that JavaScript can access them.
  --env-safe-top-pixels: env(safe-area-inset-top, 0px);
  --env-safe-right-pixels: env(safe-area-inset-right, 0px);
  --env-safe-bottom-pixels: env(safe-area-inset-bottom, 0px);
  --env-safe-left-pixels: env(safe-area-inset-left, 0px);
}


// FONT STACKS
//
// Since typefaces are loaded in asynchronously (they’re a little hefty as
// of August 2020), the fallback font is especially critical.

$font-jm: 'JMGroteskWeb', BlinkMacSystemFont, system-ui, -apple-system, 'Segoe UI', 'Apple Color Emoji';
$font-fraunces: 'FrauncesWeb', $font-jm;
