@use "utilities" as *;

// To minimize all repaints, draw the “underline” via box-shadow and
// apply no transitions. Manipualte the background and text colors on hover
// and active. For some extra offset, apply padding and negative margins,
// and then have those decorations cloned for wrapped link lines.
a {
  box-shadow: 0 calc(-1 * var(--padding-link-decoration)) 0 0 var(--translucent-red-20) inset;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-color: rgba(213,47,10,0);
  color: var(--hue-red-500);
  margin: 0 calc(-1 * var(--padding-link-decoration));
  padding: 0 var(--padding-link-decoration);
  transition: background-color .125s, color .125s;
  text-decoration: none;

  svg * {
    transition: stroke .125s, fill .125s;
  }

  &.link--no-underline {
    box-shadow: none;
  }

  &:hover, &:focus {
    background-color: var(--hue-red-500);
    color: var(--hue-shade-0);
  }

  &:focus-visible {
    outline: 1px solid var(--hue-red-700);
  }

  // Ever tried click-n-dragging in Safari? The color isn’t inherited. Ugh.
  &:active {
    color: var(--hue-shade-100);
    background-color: var(--hue-red-700);
    transition: none;

    svg * {
      transition: none;
    }
  }
}

a.anchor:target {
  display: block;
  height: 0;
  position: relative;
  top: calc(var(--a4) * -1);
  visibility: hidden;
}
