<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="author" content="John Matula">
  <meta name="description" content="{{ opengraph }}">
  <meta name="keywords" content="John Matula,jmatula,matula,matulaspatula,UX,product designer">
  <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://johnmatu.la{{ page.url }}" />
  <meta property="og:image" content="XXXXXX" />
  <meta property="og:description" content="{{ opengraph }}">
  <script type="module" src="/js/alpine.min.js"></script>
  <script nomodule src="/js/alpine-ie11.min.js" defer></script>
  <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-XXXXXXX');</script>-->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fonts.css" media="print" onload="this.media='all'">
  <link rel="preload" href="/fonts/fraunces.20200818.woff2" as="font" type="font/woff2" crossorigin>

  <title>{% block titletag %}{% endblock %}</title>


</head>
<body>
  <script>
    if(document.referrer.indexOf(window.location.origin) === -1) {
      document.body.classList.add('js--direct-link');
    }
  </script>
  <!--<noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
      height="0"
      width="0"
      style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  -->

  {% include "src/components/navigation/_navigation.njk" %}

  <main class="wrapper__outer">
    <div class="wrapper__inner">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <script src="/js/main.js"></script>
</body>
</html>
