<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <meta name="author" content="John Matula">
  <meta name="description" content="{{ opengraph }}">
  <meta name="keywords" content="John Matula,jmatula,matula,matulaspatula,UX,product designer">
  <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://johnmatu.la{{ page.url }}" />
  <meta property="og:image" content="XXXXXX" />
  <meta property="og:description" content="{{ opengraph }}">
  <script type="module" src="/js/alpine.min.js"></script>
  <script nomodule src="/js/alpine-ie11.min.js" defer></script>

  <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-XXXXXXX');</script>-->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fonts.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="/css/photoswipe.css" media="print" onload="this.media='all'">
  <link rel="preload" href="/fonts/fraunces.20200818.woff2" as="font" type="font/woff2" crossorigin>

  <title>{% block titletag %}{% endblock %}</title>

  <style id="js--scale">
    .sidebar.js--expanded~.wrapper__outer .wrapper__inner {
      transform-origin: right 0;
    }
  </style>
</head>
<body>
  <script>
    if(document.referrer.indexOf(window.location.origin) === -1) {
      document.body.classList.add('js--direct-link');
    }
  </script>
  <!--<noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
      height="0"
      width="0"
      style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  -->

  {% include "src/components/navigation/_navigation.njk" %}

  <main class="wrapper__outer">
    <div class="wrapper__inner">
      {% block content %}
      {% endblock %}



      <!-- Testing! -->
      <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024">
                <img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
                                                <figcaption itemprop="caption description">Image caption  1</figcaption>

          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="964x1024">
                <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption 2</figcaption>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" itemprop="contentUrl" data-size="1024x683">
                <img src="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption 3</figcaption>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_b.jpg" itemprop="contentUrl" data-size="1024x768">
                <img src="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_m.jpg" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption 4</figcaption>
          </figure>


        </div>


    </div>
  </main>

  {% include "src/components/photoswipe/_photoswipe.njk" %}

  <script src="/js/photoswipe.min.js" defer></script>
  <script src="/js/photoswipe-ui-default.min.js" defer></script>
  <script src="/js/main.js"></script>
</body>
</html>
