<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="author" content="John Matula">
  <meta name="description" content="{{ opengraph }}">
  <meta name="keywords" content="John Matula,jmatula,matula,matulaspatula,UX,product designer">
  <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://johnmatu.la{{ page.url }}" />
  <meta property="og:image" content="https://johnmatu.la{{ ogimage }}" />
  <meta property="og:description" content="{{ ogdesc }}">
  <script type="module" src="/js/alpine.min.js"></script>
  <script nomodule src="/js/alpine-ie11.min.js" defer></script>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fonts.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="/css/photoswipe.css" media="print" onload="this.media='all'">
  <link rel="preload" href="/fonts/fraunces.20200818.woff2" as="font" type="font/woff2" crossorigin>

  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-tab.svg" color="#EB3A13">
  <meta name="apple-mobile-web-app-title" content="John Matula">
  <meta name="application-name" content="John Matula">
  <meta name="msapplication-TileColor" content="#EB3A13">
  <meta name="theme-color" content="#EB3A13">

  <title>{% block titletag %}{% endblock %}</title>

  <!-- Matomo -->
  <script async type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    function matomoGo() {
      var u="//analytics.johnmatu.la/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '{% environmentData "1", "2" %}']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    }
    window.addEventListener("load", matomoGo, false);
  </script>
  <!-- End Matomo Code -->
</head>
<body>

  <script>
    if(document.referrer.indexOf(window.location.origin) === -1) {
      document.body.classList.add('js--direct-link');
    }
  </script>

  {% include "src/components/navigation/_navigation.njk" %}

  <main class="wrapper__outer">
    <div class="wrapper__inner">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  {% include "src/components/photoswipe/_photoswipe.njk" %}

  <script src="/js/photoswipe.min.js" defer></script>
  <script src="/js/photoswipe-ui-default.min.js" defer></script>
  <script src="/js/main.js"></script>
</body>
</html>
