{% from "src/components/section-header/_section-header.njk" import sectionHeader %}

{% macro galleryStart(classList = "grid--case-study", header = "Previews", parenthetical = "") %}
<div class="gallery {{classList}}">
  {{ sectionHeader(header, parenthetical) }}
  <div class="gallery__thumbs">
{% endmacro %}

<!-- Nunjucks macros can’t handle asynchronous calls. Ugh. -->
<!-- For now, I’m using wrapping tags to sidestep the limitation. -->

{% macro galleryEnd() %}
  </div>
</div>
{% endmacro %}
