@use "utilities" as *;

.gallery {
  background-color: var(--fill-page-secondary);
  padding: var(--a3) 0;

  &__thumbs {
    align-items: stretch;
    display: grid;
    grid-auto-flow: dense;
    grid-column: content-full;
    grid-gap: var(--gap-grid-minor);
    grid-template-columns: repeat(6, 1fr);
    justify-content: stretch;
  }

  .responsive--thirdwide {
    grid-column: span 2;
  }

  .responsive--halfwide {
    grid-column: span 3;
  }

  .responsive--twothirdwide {
    grid-column: span 4;
  }

  .responsive--fullwide {
    grid-column: span 6;
  }

  .responsive--doublehigh {
    grid-row: span 2;
  }

  .responsive--triplehigh {
    grid-row: span 3;
  }

  &__message {
    @extend %typography-supporting;
    @extend %link-body;

    color: var(--color-text-secondary);
    grid-column: span 6;
  }
}
