<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	<!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
	<div class="pswp__bg">
	</div>
	<!-- Slides wrapper with overflow:hidden. -->
	<div class="pswp__scroll-wrap">
		<!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
		<div class="pswp__container">
			<div class="pswp__item">
			</div>
			<div class="pswp__item">
			</div>
			<div class="pswp__item">
			</div>
		</div>
		<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		<div class="pswp__ui pswp__ui--hidden">
			<div class="pswp__top-bar">
				<!--  Controls are self-explanatory. Order can be changed. -->
				<div class="pswp__counter"></div>
  			<button class="pswp__button pswp__button--arrow--left" aria-label="Previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="4"><path d="M16 28L4 16 16 4M4 16h26"/></g></svg>
        </button>
  			<button class="pswp__button pswp__button--arrow--right" aria-label="Next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="4"><path d="M2 16h26M16 28l12-12L16 4"/></g></svg>
        </button>
				<button class="pswp__button pswp__button--zoom" aria-label="Zoom in or out">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="pswp__button__svg-enlarge"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="4"><path d="M16 5h11v11M16 27H5V16"/></g></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="pswp__button__svg-reduce"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="4"><path d="M3 19h10v10M29 13H19V3"/></g></svg>
        </button>
				<button class="pswp__button pswp__button--close" title="Close (Esc)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="4"><path d="M3 29L29 3M3 3l26 26"/></g></svg>
        </button>





			</div>
			<div class="pswp__caption">
				<div class="pswp__caption__center">
				</div>
			</div>

			<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
			<!-- element will get class pswp__preloader--active when preloader is running -->
			<div class="pswp__preloader">
        <svg class="pswp__jvm-svg" xmlns="http://www.w3.org/2000/svg" viewBox="10 15 40 34"><mask id="cutout"><path fill="#fff" d="M22 45a4 4 0 01-4 4h-8v-4h6a1 1 0 001-1V15h5v30zm14 4h-5V20a1 1 0 00-1-1h-6v-4h8a4 4 0 014 4v30zm14 0h-5V20a1 1 0 00-1-1h-6v-4h8a4 4 0 014 4v30z"/></mask><path mask="url(#cutout)" class="pswp__jvm-svg-unfilled" d="M10 15h40v34H10z"/><path class="pswp__jvm-svg-filled" fill="none" mask="url(#cutout)" stroke-width="6" stroke-miterlimit="10" d="M19.5 11v34c0 1.1-.9 2-2 2H6l14-30h11.5c1.1 0 2 .9 2 2v34l.5-36h11.5c1.1 0 2 .9 2 2v34"/></svg>
			</div>
		</div>
	</div>
</div>
