// Based off of PhotoSwipe Default UI CSS by Dmitry Semenov
// photoswipe.com | MIT license



//  Contents:
//
//  1. Buttons
//  3. Index indicator ("1 of X" counter)
//  4. Caption
//  5. Loading indicator
//  6. Additional styles (root element, top bar, idle state, hidden state, etc.)



// PhotoSwipe uses Autoprefixer, so vendor prefixed are added automatically when needed.
// TODO(JVM): Vet existing prefixes



@use "photoswipe-vars.scss" as *;
@use "utilities" as *;


/*

	1. Buttons

 */

/* <button> css reset */
.pswp__button {
	-webkit-appearance: none;
  -webkit-tap-highlight: transparent;
  align-items: center;
	background: none;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	display: flex;
	height: var(--b2);
  justify-content: center;
	margin: 0;
  opacity: 1;
	overflow: visible;
	padding: 0;
	position: relative;
	width: var(--b2);

  @include at-least(w0) {
    height: var(--a2);
    width: var(--a2);
  }

	&:focus,
	&:hover {
    svg {
      opacity: 1;
    }
	}

	&:active {
		outline: none;

    svg {
      opacity: .75;
    }
	}

	&::-moz-focus-inner {
		padding: 0;
		border: 0
	}

  svg {
    height: var(--b0);
    pointer-events: none;
    width: var(--b0);
  }

  svg g {
    stroke: var(--color-text-primary);
    stroke-width: 2px;
  }
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
// Clever but too confusing (it's not standard for a button to light up like this)
.pswp__ui--over-close .pswp__button--close {
}

/*.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
	background: url(#{$pswp__assets-path}default-skin.png) 0 0 no-repeat;
	background-size: 264px 88px;
	width: 44px;
	height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1),  (min-resolution: 105dpi), (min-resolution: 1.1dppx) {

	/ Serve SVG sprite if browser supports SVG and resolution is more than 105dpi /
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left:before,
	.pswp--svg .pswp__button--arrow--right:before {
        background-image: url(#{$pswp__assets-path}default-skin.svg);
    }

    .pswp--svg .pswp__button--arrow--left,
	.pswp--svg .pswp__button--arrow--right {
		background: none;
	}
}*/

.pswp__button--zoom {
  pointer-events: none;
  opacity: .25;

  .pswp__button__svg-enlarge {
    display: block;
  }

  .pswp__button__svg-reduce {
    display: none;
  }
}

.pswp--touch .pswp__button--zoom {
  display: none;
}

.pswp--zoom-allowed .pswp__button--zoom {
	pointer-events: all;
  opacity: 1;

  .pswp__button__svg-enlarge {
    display: block;
  }

  .pswp__button__svg-reduce {
    display: none;
  }
}

// TODO: Zoomed in, use zoom out button icon here
.pswp--zoomed-in .pswp__button--zoom {
  .pswp__button__svg-enlarge {
    display: none;
  }

  .pswp__button__svg-reduce {
    display: block;
  }
}


/*

	5. Loading indicator (preloader)
  TODO: Could the logo markup be mixin’d in some way?

 */

.pswp__preloader {
	width: var(--width-logo);
	height: var(--height-logo);
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
  pointer-events: none;
	transition: opacity .25s ease-out, visibility 0s .25s;
  transform: translate(-50%, -50%);
  visibility: hidden;
	will-change: opacity;
	direction: ltr;
}

.pswp__jvm-svg {
  flex: 0 0 var(--width-logo);
  width: var(--width-logo);
}

.pswp__jvm-svg-unfilled {
  fill: var(--stroke-logo-unfilled);
}

.pswp__jvm-svg-filled {
  animation: jmline-loader $timing-logo paused infinite;
  stroke-dasharray: 215.0285;
  stroke-dashoffset: 215.0285;
  stroke: var(--stroke-logo-filled);
  transition: animation 0s 1.25s;



    stroke-dashoffset: 0;

    stroke: var(--stroke-logo-filled-inverted);

}

.pswp__preloader--active {
	opacity: 1;
	transition: opacity .25s ease-out, visibility 0s 0s;
  visibility: visible;

  .pswp__jvm-svg-filled {
    animation-play-state: running;
  }






}

// All values calculated in Illustrator by dividing at each start and end
// of the segment, calculating the width, and adding it all together.
@keyframes jmline-loader {
  0% {
    stroke-dashoffset: 215.0285;
  }
  18.74% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 166.3889;
  }
  18.75% {
    stroke-dashoffset: 133.283;
  }
  41.24% {
    animation-timing-function: ease-out;
    stroke-dashoffset: 84.6434;
  }
  41.25% {
    stroke-dashoffset: 51.5375;
  }
  75% {
    animation-timing-offset: ease-out;
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}



/*

	6. Additional styles

 */

/* root element of UI */
.pswp__ui {
	-webkit-font-smoothing: auto;
	visibility: visible;
	opacity: 1;
	z-index: $z-photoswipe-ui;
}

// The HUD (styled as a top bar by default) for all controls.
// (The hairline strategy can’t be used here because of Chrome.)
.pswp__top-bar {
	bottom: calc(var(--a2) + env(safe-area-inset-bottom, 0px));
  border-radius: 3px;
  box-shadow: 0 0 0 1px var(--stroke-hud);
  display: flex;
  left: 50%;
  max-width: 90vh;
	position: absolute;
  padding: var(--a-2) var(--b-2);
  transform: translateX(-50%);
	width: auto;
}

.pswp__caption,
.pswp__top-bar {
	-webkit-backface-visibility: hidden;
	will-change: opacity;
	transition: opacity $timing-photoswipe-controls-fade-in cubic-bezier(.4,0,.22,1);
}

.pswp__top-bar,
.pswp__caption {
  @include backdrop-filter(var(--backdrop-filter-panel));

	background-color: var(--fill-hud);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit {
	.pswp__top-bar,
	.pswp__caption {
	}
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */

.pswp__ui--idle {
	.pswp__top-bar {
		opacity: 0;
  	transition: opacity $timing-photoswipe-controls-fade-out cubic-bezier(.4,0,.22,1);
	}
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden {
	.pswp__top-bar,
	.pswp__caption {
		/* Force paint & create composition layer for controls. */
		opacity: 0.001;
	}
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide {
	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		display: none;
	}
}

.pswp__button--arrow--right {
  margin-right: var(--a0);
  position: relative;

  &::after {
    background-color: var(--stroke-separator);
    bottom: 0;
    content: '';
    display: block;
    height: var(--a1);
    pointer-events: none;
    position: absolute;
    right: calc(var(--a0) / 2 * -1);
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

}

.pswp__element--disabled {
	display: none !important;
}
