---
title: Frontend Academy

shortname: frontend-academy

summary: I served “professor realness” to bolster the foundational frontend concepts of our engineering team. The courses I put together on HTML, CSS, accessibility, and modern practices led to higher quality UX discussions and code commits.

opengraph: Learn more about the courses I led to bolster the frontend knowledge of our engineering team.
---

{% from "src/components/aside/_aside.njk" import aside %}
{% from "src/components/details/_details.njk" import details %}
{% from "src/components/gallery/_gallery.njk" import gallery %}
{% from "src/components/section-header/_section-header.njk" import sectionHeader %}
{% from "src/components/related/_related.njk" import related %}
{% from "src/components/retrospective/_retrospective.njk" import retrospective %}

<section class="section">
  {{ sectionHeader("Motivation") }}

  <p>Early in 2020, I received a request to quickly update our platform’s visual style to match the emerging design system of our new parent company. As a designer that knows his way around a frontend challenge, I agreed to evaluate how feasible it would be to get that update out the door.</p>

  <p>When I took a closer look at our frontend codebase, I noticed some aging code and discouraged practices. Now, this wasn’t too surprising to me: any longstanding platform will have some sort of cruft as its features are rapidly developed. Still, I saw an opportunity to address inline styles, no-longer-necessary CSS prefixes, and high selector specificities. Seeing some of these discouraged practices crop up in newer features got me thinking about the best way to go about cleaning things up. Should I attempt to overhaul the code myself, or could I be more effective by bringing engineers’ frontend practices up to speed in order to level everyone’s understanding up?</p>
</section>

<section class="section">
  {{ sectionHeader("Process") }}

  <p>In order to most efficiently address gaps in knowledge, I paired up with an engineer to create an optimal curriculum for the team. I proposed a long list of topics and whittled it down to a list of ten topics on <a href="https://css-tricks.com/the-great-divide/">both sides of the great frontend divide</a>. We held one session per week, and each session was one hour long.</p>

  <p>Out of the list of ten topics, I put together and delivered slides for these eight:</p>

  <ul>
    <li>CSS Cascade, Specificity, and the Box Model</li>
    <li>Testing Your Work with Dev Tools</li>
    <li>Testing on Internet Explorer 11 (yeahhh I know)</li>
    <li>Modern CSS, Layouts, and Markup</li>
    <li>Responsive Design</li>
    <li>Inclusive Design and Markup</li>
    <li>Internationalization</li>
    <li>SCSS</li>
  </ul>

  <p>For each session’s presentation, I cited high-quality sources like the <a href="https://developer.mozilla.org/en-US/">MDN Docs</a>, <a href="https://css-tricks.com">CSS-Tricks</a>, and <a href="https://www.smashingmagazine.com/">Smashing Magazine</a>. I combined textual content with custom diagrams and a few CodePens to help give devs hands-on ways to grapple course material.</p>

  <p>After each session, a recording of the course, the slides, and the additional examples were uploaded for engineers to refer to later on.</p>

  <p>Overall, we made good progress on everyone’s understanding of frontend coding. When we compared our progress with a before-and-after quiz, we saw a marked improvement. Not bad for a ten-week crash course!</p>

  {% responsiveImage "./src/supporting/images/sample.jpg", "A cool thing" %}

  ??
</section>



<!--{{ gallery([
    {
      blah: {% responsiveImage "./src/supporting/images/sample.jpg", "A cool thing" %},
      thumb: "/dist/img/larr.svg",
      full: "/dist/img/larr.svg",
      alt: "Leftwards arrow",
      description: "Testing the image here.",
      credit: "Jahn Matola"
    },
    {
      blah: {% responsiveImage "./src/supporting/images/sample.jpg", "A cool thing" %},
      thumb: "/dist/img/broken.svg",
      full: "/dist/img/broken.svg",
      alt: "Wow real neat",
      description: "Another test!",
      credit: "Debbie Softhead"
    }
  ])
}} -->

{{
  retrospective([
    {
      type: "good",
      content: "a"
    },
    {
      type: "good",
      content: "a"
    },
    {
      type: "bad",
      content: "c"
    },
    {
      type: "bad",
      content: "c"
    },
    {
      type: "bad",
      content: "c"
    }
  ])
}}

{{
  details([
    {
      key: "Timeframe",
      value: "May&hairsp;–&hairsp;July 2020"
    },
    {
      key: "Skills in use",
      value: "Frontend programming, presentation skills, education and lecturing"
    },
    {
      key: "Tech specs",
      value: [
        "Ten presentations covering fundamentals of frontend programming, of which I made eight",
        "Nine CodePen examples to illustrate some CSS concepts",
        "A post-session exam to evaluate progress"
      ]
    },
    {
      key: "Status as of August 2020",
      value: "We’re beyond the “crash course” phase and are keeping up a regular cadence of continued frontend programming education."
    }
  ])
}}

{{
  related([
    {
      leader: "Here’s a fun one",
      title: "Project Title",
      description: "The great description I have",
      url: "/foo"
    },
    {
      leader: "Aaand a non-sequitur",
      title: "Project Title",
      description: "The great description I have",
      url: "/foo"
    }
  ])
}}
