---
title: Frontend Academy

shortname: frontend-academy

summary: I served “professor realness” to bolster the foundational frontend concepts of our engineering team. The courses I put together on HTML, CSS, accessibility, and modern practices led to higher quality UX discussions and code commits.

opengraph: Learn more about the courses I led to bolster the frontend knowledge of our engineering team.
---

<h2 class="header">Motivation</h2>
<p class="paragraph">Early in 2020, I received a request to quickly update our platform’s visual style to match the emerging design system of our new parent company. As a designer that knows his way around a frontend challenge, I agreed to evaluate how feasible it would be to get the update out the door.</a>

<p class="paragraph">When I took a closer look at our frontend codebase, I noticed some aging code and discouraged practices. Now, this wasn’t too surprising to me: any longstanding platform will have some sort of cruft as its features are rapidly developed. Still, I saw an opportunity to address inline styles, no-longer-necessary CSS prefixes, and high selector specificities. Seeing some of these discouraged practices crop up in newer features got me thinking about the best way to go about cleaning things up: do I attempt to overhaul the code myself, or could I be more effective by bringing engineers’ frontend practices up to speed?</a>


<h2 class="header">Process</h2>
<p class="paragraph">In order to most efficiently address gaps in knowledge, I paired up with an engineer to create an optimal curriculum for the team. I proposed a long list of topics and whittled it down to a list of ten topics on <a href="https://css-tricks.com/the-great-divide/">both sides of the great frontend divide</a>. We held one session per week, and each session was one hour long.</a>

<p class="paragraph">Out of the list of ten topics, I put together and delivered slides for these eight:</p>
<ul>
  <li>CSS Cascade, Specificity, and the Box Model</li>
  <li>Testing Your Work with Dev Tools</li>
  <li>Testing on Internet Explorer 11 (yeahhh I know)</li>
  <li>Modern CSS, Layouts, and Markup</li>
  <li>Responsive Design</li>
  <li>Inclusive Design and Markup</li>
  <li>Internationalization</li>
  <li>SCSS</li>
</ul>

<p class="paragraph">For each session’s presentation, I cited high-quality sources like the <a href="https://developer.mozilla.org/en-US/">MDN Docs</a>, <a href="https://css-tricks.com">CSS-Tricks</a>, and <a href="https://www.smashingmagazine.com/">Smashing Magazine</a>. I combined textual content with custom diagrams and a few CodePens to help give devs hands-on ways to grapple course material.</a>

<p class="paragraph">After each session, a recording of the course, the slides, and the additional examples were uploaded for engineers to refer to later on.</a>

<p class="paragraph">Overall, we made good progress on everyone’s understanding of frontend coding. My coworker tracked progress with a before-and-after quiz, and we saw a marked improvement. Not bad for a ten-week crash course!</a>



<h2 class="header">Previews</h2>




<h2 class="header">Evaluation <div class="header__parenthetical"><span class="a11y--hidden">(</span>What worked well&nbsp;and what I’d do differently<span class="a11y--hidden">)</span></div></h2>





<h2 class="header">Details</h2>
<h3 class="spec__key">Timeframe</h3>
<h3 class="spec__key">Skills in use</h3>
<h3 class="spec__key">Status as of August 2020</h3>
