---
title: Frontend Academy

shortname: frontend-academy

summary: I served “professor realness” to bolster the foundational frontend concepts of our engineering team. The courses I put together on modern HTML, CSS, and accessibility led to measured improvement and higher quality code commits.

ogdesc: Learn more about the courses I led that bolstered and improved the frontend knowledge of our engineering team.

ogimage: /img/og-frontend.png
---

{% from "src/components/aside/_aside.njk" import asideStart, asideEnd %}
{% from "src/components/details/_details.njk" import details %}
{% from "src/components/gallery/_gallery.njk" import galleryStart, galleryEnd, galleryMessage %}
{% from "src/components/lead-in/_lead-in.njk" import leadIn %}
{% from "src/components/section-header/_section-header.njk" import sectionHeader %}
{% from "src/components/related/_related.njk" import related %}
{% from "src/components/retrospective/_retrospective.njk" import retrospective %}

<section class="section">
  {{ sectionHeader("Motivation") }}

  <p>{{ leadIn("At the start of 2020,") }} I was asked to see how much work it’d be to update our app to use our parent company’s emerging design system. As a designer that knows his way around a frontend challenge, I agreed to take a look.</p>

  <p>When I reviewed the markup and styles in our frontend codebase more closely, I found discouraged practices and features in use&thinsp;—&thinsp;things like inline styles, unnecessary CSS prefixes, and high selector specificities. To be fair, you’ll find tech debt like this in plenty of longstanding apps, but I also found these discouraged practices popping up in new features, too. It got me thinking about the best way to help the team’s understanding of modern styles and markup. Could I carve out time in our team’s busy schedule to help establish a solid frontend foundation?</p>
</section>

<section class="section">
  {{ sectionHeader("Process") }}

  <p>{{ leadIn("After taking some time") }} to see what areas needed modernizing, I decided that a lecture series would be the best way to educate the team in a concise way. I paired up with a coworker, and we set out to create an optimal curriculum. We took a long list of topics on <a href="https://css-tricks.com/the-great-divide/">both sides of the great frontend divide</a> and whittled it down to a list of ten. I worked on these eight topics:</p>

  <ul>
    <li>CSS Cascade, Specificity, and the Box Model</li>
    <li>Testing Your Work with Dev Tools</li>
    <li>Testing Across Devices, Operating Systems, and Scenarios</li>
    <li>Modern CSS, Layouts, and Markup</li>
    <li>Responsive Design</li>
    <li>Inclusive Design and Markup</li>
    <li>Internationalization</li>
    <li>SCSS</li>
  </ul>

  <p>I expanded each topic into a full presentation. For each lecture’s slides, I cited high-quality sources like the <a href="https://developer.mozilla.org/en-US/">MDN Docs</a>, <a href="https://css-tricks.com">CSS-Tricks</a>, and <a href="https://www.smashingmagazine.com/">Smashing Magazine</a>. I started with broad explanations and then dove deep with example code, custom diagrams, and <a href="https://codepen.io/collection/AvVyGk">a collection of CodePens</a> to help give devs different ways to grapple course material.</p>

  <div class="section__contents">
  {{ asideStart("aside--full") }}
  {% responsiveImage "./src/supporting/images/fea-codepens.png", "Screenshot of the Frontend Academy collection of CodePen examples", "", "div" %}
  {{ asideEnd("The CodePen examples I adapted and put together supplemented each lecture’s slides and diagrams.")}}
</div>

  <p>We then presented each topic in a weekly, one-hour Zoom call, talking alongside the slides and answering questions along the way. Each session was recorded, which we uploaded alongside the the slides and additional examples so that engineers could refer to them later on.</p>

  <p>Overall, we made good progress on everyone’s understanding of frontend coding. We wrote a pre- and post-academy quiz to track the team’s progress, and we saw a marked improvement of several percentage points. Not bad for a ten-week crash course!</p>

</section>


{{ galleryStart(parenthetical = "Selection of diagrams used in slides") }}
{% responsiveImage "./src/supporting/images/fea-rule.png", "A cool thing", "responsive--fullwide" %}
{% responsiveImage "./src/supporting/images/fea-cascade.png", "The second cool thing", "responsive--halfwide" %}
{% responsiveImage "./src/supporting/images/fea-specificity.png", "The second cool thing", "responsive--halfwide" %}
{% responsiveImage "./src/supporting/images/fea-flex.png", "A cool thing", "responsive--fullwide responsive--triplehigh" %}
{{ galleryMessage("Diagrams are adapted from MDN Web Docs content. <a href='https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_and_inheritance'>Cascade and inheritance</a>, <a href='https://developer.mozilla.org/en-US/docs/Glossary/CSS_Selector'>CSS Selector</a>, and <a href='https://developer.mozilla.org/en-US/docs/Web/CSS/inheritance'>Inheritance</a> by Mozilla Contributors are licensed under <a href='https://creativecommons.org/licenses/by-sa/2.5/'>CC-BY-SA 2.5</a>.") }}
{{ galleryEnd() }}

{{
  retrospective([
    {
      rating: "good",
      summary: "The team now has a library of lectures that they can refer back to.",
      content: "Having a reference set like this means it’s easy for new devs to be onboarded and for seasoned devs to brush up whenever necessary."
    },
    {
      rating: "bad",
      summary: "With limited time and resources, I couldn’t provide as many code examples and quizzes as I had hoped.",
      content: "My coworker and I only had time to put together those two quizzes, so finding more opportunities for active learning might have boosted the team’s understanding of the material even more."
    },
    {
      rating: "good",
      summary: "The sessions reminded me that I enjoy breaking down concepts and explaining strategies in understandable ways.",
      content: "My experience in the web development world all came about through self-guided learning, so I relied heavily on others explaining concepts and providing examples to me. Being able to pay it forward in a similar way was pretty rewarding."
    }
  ])
}}

{{
  details([
    {
      key: "Timeframe",
      value: "March&hairsp;–&hairsp;August 2020"
    },
    {
      key: "Skills in use",
      value: "Frontend programming, presentation skills, education and lecturing"
    },
    {
      key: "Tech specs",
      value: [
        "Ten presentations covering fundamentals of frontend programming, of which I made eight",
        "Nine CodePen examples to illustrate some CSS concepts",
        "A post-session exam to evaluate progress"
      ]
    },
    {
      key: "Status as of February 2021",
      value: "Before parting ways with the company, I shared the deck with the global team as a resource to review and improve."
    }
  ])
}}

{{
  related([
    {
      leader: "More from CrowdTwist",
      title: "CrowdTwist UX Redesign",
      description: "Participatory design sessions that led to a comprehensive plan to improve our core offering",
      url: "/projects/ux-redesign"
    },
    {
      leader: "Frontend, applied",
      title: "Smarthome",
      description: "The hobby project that powers my apartment’s lighting",
      url: "/projects/smarthome"
    }
  ])
}}
