---
title: Recreational Sports

shortname: recsports

summary: I led the development and design of this comprehensive website system. After the site launched, successful browsing sessions improved by 65 percent and fitness memberships increased by 19 percent.

opengraph: Learn more about the website I redesigned for Umich Rec Sports and its contribution to a 19-percent increase in new memberships.
---
{% from "src/components/aside/_aside.njk" import aside %}
{% from "src/components/details/_details.njk" import details %}
{% from "src/components/gallery/_gallery.njk" import galleryStart, galleryEnd %}
{% from "src/components/related/_related.njk" import related %}
{% from "src/components/retrospective/_retrospective.njk" import retrospective %}

<section>
  <div class="header">
    <h2>Motivation</h2>
  </div>

  <p>The University of Michigan’s Recreational Sports department is a multifaceted group that operates workout facilities, holds exercise classes, and plans individualized programs for students and faculty. In other words: this group does a lot. Unfortunately, the group’s old site did them a disservice since all the information describing these programs and benefits was disorganized and unclear. What was clear: Rec Sports was ready for a new, easy-to-maintain site.</p>
</section>

<section>
  <div class="header">
    <h2>Process</h2>
  </div>

  <div class="section__contents">
    <p>I started out this project by corralling the key stakeholders to discuss goals of the site, priorities that each subgroup of the Rec Sports, and possible directions. We also created key personas (following my <a href="">design process</a>) at that initial meeting so that the proposed design and content would stay focused. As our design meetings continued, I also tested my plans with real users to validate them.</p>

    {{ aside("https://johnmatu.la/wp-content/uploads/template_herolandscape-recsports.jpg", "blahh", "A good example of this was a custom Google Calendar module that displays the schedule for group exercise classes, with rationale for spending time on it.") }}
    <p>For this project, I was both the lead UX designer and the lead frontend developer, so I constantly evaluated the feasibility and value of design decisions. A good example of this was a custom Google Calendar module that displays the schedule for group exercise classes. Though proposing this feature would mean custom development work for the dev team, the high priority and significant value it had provided the rationale for spending time on it. In a similar fashion, that’s how I prioritized modular components, zero-tap facility info, and an entirely-custom WordPress editor interface in the redesigned site, too.</p>


    <p>My biggest design decision on the site was a single page format. Each major program of Rec Sports got one single page containing all necessary content. I supported that with a navigation system so that someone could jump to a specific piece of content via the menu or a URL. Though it was tricky to get this working with WordPress, this balance was the sweet spot between total visibility and a simple, speedy experience.</p>

    <p>After launch, I kept evaluating the success of the site (in fact, that helped us make a key terminology change early on). We also tracked membership signups as a key success metric, and we saw a 19-percent increase immediately following the launch of the site.</p>

    <p>Maybe that’s why, months later, I found my design replicated on the University of Virginia’s Rec Sports site… 😉</p>
  </div>
</section>

<section class="section section--gallery">
  <div class="header">
    <h2>Previews</h2>
  </div>
</section>

<section class="section">
  <div class="header">
    <h2>Evaluation</h2>
    <div class="header__parenthetical"><span class="a11y--hidden">(</span>What worked well&nbsp;and what I’d do differently<span class="a11y--hidden">)</span></div>
  </div>

  <ul class="retrospective">
    <li>Bad: The site is not built on a frontend framework, unfortunately. With features that make it feel more like an app (especially the custom schedule plugin), using a framework could open up the site to even richer experiences with less developer frustration.</li>
    <li>Bad: By acting as both the UX designer and the lead developer for the project, some of my design decisions were affected by my limitations in frontend and backend development.</li>
    <li>Good: The flat, single-page navigation makes it easy to find information, while the hooks into Wordpress’s menu system makes it easy to jump right to specific content.</li>
    <li>Good: Creating a custom system powered by Google Calendar taught me tons about APIs and data handling. (And PHP.)</li>
    <li>Good: In providing a rich customization layer to the WordPress editor view, I was able to ensure that the site would be maintainable and easily adaptable for years.</li>
  </ul>
</section>

<section class="section section--details">
  <div class="header">
    <h2>Details</h2>
  </div>
  <h3 class="details__key">Timeframe</h3>
  <p class="details__value">Launched December 2016</p>
  <h3 class="details__key">Skills in use</h3>
  <p class="details__value">Branding, UX research and design, frontend development, backend development</p>
  <h3 class="details__key">Tech specs</h3>
  <ul class="details__valuelist">
    <li>Fully-developed WordPress site with a highly-customized CMS interface</li>
    <li>Custom theme built with modular SCSS system and JavaScript/jQuery</li>
    <li>Custom WordPress plugins: a custom Google Calendar plugin, hours of operation via Google Calendar, site-wide notifications</li>
  </ul>
  <h3 class="details__key">Status as of August 2020</h3>
  <p class="details__value">The site is live and actively maintained. Some minor features were added to the Google Calendar plugin.</p>
</section>
