---
title: Recreational Sports

shortname: recsports

summary: I led the development and design of this comprehensive website system. After the site launched, fitness memberships increased by 19% and successful browsing sessions improved by 65%.

opengraph: Learn more about the website I redesigned for Umich Rec Sports and how it supported a 19-percent increase in new memberships.
---

{% from "src/components/aside/_aside.njk" import asideStart, asideEnd %}
{% from "src/components/details/_details.njk" import details %}
{% from "src/components/gallery/_gallery.njk" import galleryStart, galleryEnd %}
{% from "src/components/lead-in/_lead-in.njk" import leadIn %}
{% from "src/components/section-header/_section-header.njk" import sectionHeader %}
{% from "src/components/related/_related.njk" import related %}
{% from "src/components/retrospective/_retrospective.njk" import retrospective %}

<section class="section">
  {{ sectionHeader("Motivation") }}

  <p>{{ leadIn("The University of Michigan’s") }} <a href="https://recsports.umich.edu">Recreational Sports</a> department is a multifaceted group that operates workout facilities, holds exercise classes, and plans individualized programs for students and faculty. (In other words, they do a heck of a lot.) Unfortunately, the group’s <a href="https://web.archive.org/web/20161001144116/https://recsports.umich.edu/">old site</a> did them a disservice since all the information describing these programs and benefits was disorganized and unclear. What was clear: Rec Sports was ready for a new, easy-to-maintain site.</p>
</section>

<section class="section">
  {{ sectionHeader("Process") }}

  <p>{{ leadIn("I started out this project") }} by corralling the key stakeholders to discuss each person’s goal for the site. We also created <a href="https://drive.google.com/drive/u/3/folders/0B_U98JUDffu3NDZMeXBLd2g0cW8">key personas</a> at that initial meeting so that we could stay focused amidst all the information we were trying to clean up. This helped us set a clear direction for the site, keeping any possible scope creep in check.</p>

  <p>That initial meeting was the first of many. It was important to me to hold regular check-ins so that the design process was as open as it could be, collecting feedback iteratively and quickly. As our design meetings continued, I also tested my plans and designs with actual users to validate them, and I reported back the progress to stakeholders.</p>

<div class="section__contents">
  {{ asideStart() }}
  {% responsiveImage "./src/supporting/images/xmasbokeh-07.jpg", "The second cool thing", "", "div" %}
  {{ asideEnd("A good example of this was a custom Google Calendar module that displays the schedule for group exercise classes, with rationale for spending time on it.") }}

  <p>I held smaller meetings, too, which were critical to get buy-in for my radically different site architecture and content strategy. As a reaction to the old site’s bloated nature, I worked on the idea of a single-page structure for each major program of the Rec Sports department. I also proposed a navigation and site structure that supported this (so that pages wouldn’t simply turn into long-scrolling nightmares). This was only successful, though, with small work sessions with each subgroup so that I could explain this design, review their current content, and help them craft succinct copy. These sessions reassured stakeholders that their group would have proper representation on the site, all while helping to build up our mutual trust for the entirety of the project.</p>

  <p>For this project, I was both the lead UX designer and the lead frontend developer, so I constantly evaluated the feasibility and value of design decisions. Take, for instance, my idea for a custom Google Calendar module that displayed group exercise class schedules. While a rich feature like this would mean extra work for the dev team (me), the UX designer (still me) had a convincing rationale for it to be a flagship feature of the site. Balancing feasibility with product value is how I went about prioritizing all of the features on the site, which included modular components, instant facility info, and an entirely-custom WordPress editor interface to help content managers make easy updates.</p>
  </div>

  <p>After launch, I kept evaluating the overall success of the site with testing and analytics&thinsp;—&thinsp;in fact, this helped us make a key terminology change early on. We also tracked membership signups as a key success metric, and we saw a 19-percent increase immediately following the launch of the site.</p>

  <p>Maybe that’s why, months later, my work made its way elsewhere, like at <a href="https://recsports.oregonstate.edu">Oregon State University</a> and the <a href="https://recsports.virginia.edu">University of Virginia</a>… 😉</p>
</section>


{{ galleryStart() }}
{% responsiveImage "./src/supporting/images/sample.jpg", "A cool thing", "responsive--halfwide" %}
{{ galleryEnd() }}


{{
  retrospective([
    {
      rating: "bad",
      summary: "The Rec Sports site is not built on a frontend framework.",
      content: "As the lone developer, I was most comfortable with jQuery at the time. (2020 John would opt for Vue instead.)"
    },
    {
      rating: "eh",
      summary: "By acting as both the UX designer and the lead developer for the project, my design decisions always took feasibility into account.",
      content: "This made for a product that I knew I could build in a timely manner, and at the same time it meant some designs and features were limited in exploration."
    },
    {
      rating: "good",
      summary: "The flat, single-page navigation makes it easy to find information, while the hooks into WordPress’s menu system makes it easy to jump right to specific content."
    },
    {
      rating: "good",
      summary: "Creating a custom system powered by Google Calendar taught me a ton about APIs, caching, and data handling. (And PHP.)"
    },
    {
      rating: "good",
      summary: "In providing a rich customization layer to the WordPress editor view, I was able to ensure that the site would be maintainable and adaptable for years."
    }
  ])
}}


{{
  details([
    {
      key: "Timeframe",
      value: "Launched December 2016"
    },
    {
      key: "Tech specs",
      value: [
        "Custom, fully-developed WordPress site with a highly-customized CMS interface for editors",
        "Custom theme built with modular SCSS system and JavaScript/jQuery",
        "Custom WordPress plugins: a custom Google Calendar plugin, hours of operation via Google Calendar, site-wide alerts"
      ]
    },
    {
      key: "Skills in use",
      value: "Branding, evaluatory and generative UX research, UX design, frontend development, backend development"
    },
    {
      key: "Status as of December 2020",
      value: "The site is live and actively maintained. It looks like some minor features were added to the Google Calendar plugin, as well as some extra content explaining procedures during the pandemic."
    }
  ])
}}

{{
  related([
    {
      leader: "More web app work",
      title: "Smarthome",
      description: "My hobby project: a custom web app that powers my apartment’s lighting",
      url: "/projects/smarthome"
    },
    {
      leader: "Meetings of a different sort",
      title: "Frontend Academy",
      description: "Lectures and quizzes that bolstered the frontend knowledge of our engineering team",
      url: "/projects/frontend-academy"
    }
  ])
}}
