---
title: CrowdTwist Platform UX Redesign

shortname: ux-redesign

summary: My team held over a dozen sessions to review our whole platform and its most common workflows. After analyzing the feedback we collected, we delivered a plan to improve our core offering.

opengraph: See how we held over a dozen sessions to analyze our platform’s benefits and drawbacks, letting us deliver a plan to overhaul our product.
---

{% from "src/components/aside/_aside.njk" import asideStart, asideEnd %}
{% from "src/components/details/_details.njk" import details %}
{% from "src/components/gallery/_gallery.njk" import galleryStart, galleryEnd %}
{% from "src/components/lead-in/_lead-in.njk" import leadIn %}
{% from "src/components/section-header/_section-header.njk" import sectionHeader %}
{% from "src/components/related/_related.njk" import related %}
{% from "src/components/retrospective/_retrospective.njk" import retrospective %}

<section class="section">
  {{ sectionHeader("Motivation") }}

  <p>{{ leadIn("It was about a year") }} into my time as Senior Product Designer at CrowdTwist, and my team had implemented a good process to make sure new features were vetted and understood before being released. This was working well for new additions to our platform, but I noticed that we lacked the same sort of thing for existing features, especially legacy parts that had never been thoroughly tested with users. With workflows becoming more complex, it was time to complete discovery of the current state of affairs so that suggest some improvements.</p>
</section>

<section class="section">
  {{ sectionHeader("Process") }}

  <p>{{ leadIn("I put together a plan") }} for us to take stock of things in the form of 13 feedback sessions that covered the entire breadth of the platform. Each meeting was an hour long and was open to the entire organization, including Engineering, Client Success, Marketing, and Sales. I wanted to keep these sessions broad and open so that my resource-constrained, two-person team could collect a wealth of information at once, tackle the most pressing issues first, and save deeper investigations for later.</p>

  <p>Each session had two major parts: a discussion and a participatory design exercise. We started with an open forum of the benefits and drawbacks of that particular session’s topic. In these dialogues, we made sure to seek out a balance of opinions, avoiding sole reliance on the most vocal participant. These casual discussions helped warm everyone up for the hands-on exercise, which was something like card sorting, sketching, or storyboarding.</p>

  <p>So, once we completed the sessions, then what? Thanks to good participation from the company, we had plenty of discussion feedback to sift through and design exercise results to decipher. We ended up summarizing the discussion points and pertinent data from the design exercises after each session while it was fresh. In those reviews, we also prioritized new questions we had unearthed to look into at a later time.</p>

  <p>Once we completed all of the sessions, we created a prioritized plan of the areas that needed UX attention. We estimated technical complexity and design complexity for different features and charted that onto a scatterplot. Whatever was in the lower-left quadrant&thinsp;—&thinsp;lowest tech effort and design effort&thinsp;—&thinsp;formed the list of areas that were best to start with. Combined with our list of topics to investigate further, we had a sound path forward to improve the CrowdTwist platform.</p>

  <p>This project wouldn’t have been successful without the excellent participation from the whole company or the hard work that my colleague put into each session. So, as a way to share our plan and thanking everyone for their work, we wrapped everything by hosting a UX-themed happy hour.</p>
</section>


{{ galleryStart() }}
{% responsiveImage "./src/supporting/images/sample.jpg", "powerpoints, happy hour pics, card sorting exercises, post-it wall", "responsive--halfwide" %}
{{ galleryEnd() }}


{{
  retrospective([
    {
      rating: "good",
      summary: "We collected feeedback that had never been recorded at CrowdTwist."
    },
    {
      rating: "good",
      summary: "The sessions improved visibility of our team and helped validate our long-term goals.",
      content: "This was a nice side effect of the project. Being vocal about our goals and work, even as part of a small company like we were, helped us gain creidibility and encouraged us to keep going in our wide-ranging efforts."
    },
    {
      rating: "bad",
      summary: "The large format of our sessions meant that less-vocal colleagues might have been unwilling to speak up.",
      content: "We did our best to ensure feedback from came from outgoing and reserved team members alike, but in the future, we could try varying the session’s size and format to better support everyone’s preferences."
    }
  ])
}}


{{
  details([
    {
      key: "Timeframe",
      value: "June&hairsp;–&hairsp;September 2019"
    },
    {
      key: "Tech specs",
      value: [
        "13 feedback sessions that covered the entirety of the CrowdTwist platform",
        "Guided discussions to understand problem spots for each feature",
        "Participatory design exercises to try out possible solutions for each feature, including role playing, card sorting, sketches, storyboards, user journeys, prioritization",
        "A prioritized plan of features and areas to address first, reviewed by the team",
        "A UX-themed happy hour to give a little gratitude to the team"
      ]
    },
    {
      key: "Skills in use",
      value: "Presentations, UX testing, discussion facilitation, product strategy and prioritization"
    },
    {
      key: "Status as of December 2020",
      value: "After sessions were completed in September 2019, we moved onto redesigning and testing features with users. These redesigns are still in progress, working in conjunction with prioritization exercises with our Product team."
    }
  ])
}}


{{
  related([
    {
      leader: "Another CrowdTwist project",
      title: "Frontend Academy",
      description: "Lectures and quizzes that bolstered the frontend knowledge of our engineering team",
      url: "/projects/frontend-academy"
    },
    {
      leader: "A different redesign",
      title: "Recereational Sports",
      description: "A fully-designed website and CMS experience, from frontend to backend, leading to an increase in memberships",
      url: "/projects/recsports"
    }
  ])
}}
