<nav class="nav" x-data="{ tab: false }" :class="{ 'js--pinned': tab !== false }">
  <ul class="nav__list">
    <li class="nav__listitem nav__listitem--logo">
      <a href="#" class="nav__link nav__link--logo">
        <h1 class="nav__linktext nav__linktext--logo">John Matula</h1>
      </a>
    </li>
    <li class="nav__listitem">
      <a href="#" class="nav__link">
        <span class="nav__linktext">About</span>
      </a>
    </li>
    <li class="nav__listitem">
      <button href="#" class="nav__link" @click="tab = 'studies'">
        <span class="nav__linktext">Case Studies</span>
      </button>
      <ul class="submenu" :class="{'js--active': tab === 'studies'}" x-ref="submenu--studies" @click.away="tab = false">
        <li>Rec Sports</li>
        <li>Another Item</li>
        <li>Let’s Launch this Puppy</li>
      </ul>
    </li>
    <li class="nav__listitem">
      <a href="#" class="nav__link">
        <span class="nav__linktext">More Work</span>
      </a>
    </li>
        <li class="nav__listitem">
      <a href="#" class="nav__link">
        <span class="nav__linktext">Contact</span>
      </a>
    </li>
  </ul>
</nav>
