<nav class="nav" x-data="nav()" :class="{ 'js--expanded': submenu }" x-init="listenForEscape" @click.away="closeSubmenus">
  <ul class="nav__list">
    <li class="nav__listitem nav__listitem--logo">
      <a href="#" class="nav__link nav__link--logo">John Matula</a>
    </li>
    <li class="nav__listitem">
      <button href="#" class="nav__link">About</button>
    </li>
    <li class="nav__listitem" :class="{'js--active': isSubmenuOpen('studies')}">
      <button class="nav__link" @click="openSubmenu('studies')">Case Studies</button>
      <ul class="submenu">
        <li>Rec Sports</li>
        <li>Another Item</li>
        <li>Let’s Launch this Puppy</li>
      </ul>
    </li>
    <li class="nav__listitem" :class="{'js--active': isSubmenuOpen('work')}">
      <button class="nav__link" @click="openSubmenu('work')">More Work</button>
    </li>
    <li class="nav__listitem" :class="{'js--active': isSubmenuOpen('contact')}">
      <button class="nav__link" @click="openSubmenu('contact')">Contact</button>
    </li>
  </ul>
</nav>
