<nav class="nav">
  <ul class="nav__list">
    <li class="nav__listitem nav__listitem--logo">
      <a href="#" class="nav__link nav__link--logo">
        <h1 class="nav__linktext nav__linktext--logo">John Matula</h1>
      </a>
    </li>
    <li class="nav__listitem">
      <a href="#" class="nav__link">
        <span class="nav__linktext">About</span>
      </a>
    </li>
    <li class="nav__listitem">
      <a href="#" class="nav__link">
        <span class="nav__linktext">Case Studies</span>
      </a>
    </li>
    <li class="nav__listitem">
      <a href="#" class="nav__link">
        <span class="nav__linktext">More Work</span>
      </a>
    </li>
        <li class="nav__listitem">
      <a href="#" class="nav__link">
        <span class="nav__linktext">Contact</span>
      </a>
    </li>
  </ul>
</nav>
