@use "utilities" as *;

.home {
  section {
    @extend %layout-home-grid;
  }

  h2 {
    @extend %typography-home-header;
    font-weight: 900;
    grid-column: mat;
    margin-bottom: var(--a2);
  }

  .hero,
  .portfolio {
    background-color: var(--hue-shade-100);
  }

  .hero {
    margin-bottom: var(--a4);

    &__titlewrap {
      display: flex;
      flex-direction: column;
      grid-column: title;
      justify-content: flex-end;
      margin: 0 0 var(--a1);
      min-height: 65vh;
    }

    &__title {
      @extend %typography-title;

      font-weight: 600;
      grid-column: title;
      text-align: right;

      strong {
        font-weight: 900;
      }
    }

    &__instructions {
      @extend %typography-summary;

      color: var(--hue-shade-700);
      grid-column: title;
      margin-bottom: calc(var(--b-1) * -1);
      opacity: 0;
      text-align: right;
      transform: translateY(var(--a0));
      transition: transform var(--timing-instructions-slide-in) var(--delay-instructions), opacity var(--timing-instructions-fade-in) var(--delay-instructions);

      .js--ready & {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .about {
    margin-bottom: var(--a3);

    p {
      @extend %typography-home-body;

      grid-column: mat;
      margin-bottom: var(--a0);

      &.p--leading {
        @extend %typography-home-primary;
        margin-bottom: var(--a1);
      }
    }
  }

  .portfolio {
    @extend %layout-home-grid;

    margin-bottom: var(--a3);
    padding: var(--a3) 0;


    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: calc(var(--a0) * -1) 0;
      padding: 0;
    }

    li a {
      padding: var(--a0) 0;
    }

    li + li {
      box-shadow: 0 0.5px 0 0 var(--translucent-shade-54) inset;
    }

    a {
      background: none;
      box-shadow: none;
      color: var(--hue-blue-500);
      display: block;

      &:hover, &:focus {
        color: var(--hue-blue-300);
      }

      &:active {
        color: var(--hue-blue-700);
      }
    }

    p {
      @extend %typography-link-description;

      color: var(--hue-shade-900);
    }

    .projects {
      grid-column: content-major;
      margin-bottom: var(--a3);

      @include at-least(w0) {
        margin-bottom: 0;
      }

      ul {
        margin: calc(var(--a1) * -1) 0;
      }

      li a {
        padding: var(--a1) 0;
      }

      a {
        display: grid;
        grid:
          "project-icon project-title" auto
          "project-icon project-description" 1fr
          / min-content 1fr;
      }

      h3 {
        @extend %typography-link-title;

        grid-area: project-title;
        padding-bottom: var(--b-1);
      }

      p {
        grid-area: project-description;
      }

      svg {
        grid-area: project-icon;
        margin-right: var(--a0);
        width: var(--b2);

        * {
          stroke: currentColor;
        }
      }
    }

    .more {
      grid-column: content-minor;
    }

  }

  .final {
    margin-bottom: var(--a5);

    p {
      grid-column: mat;
    }

    &__primary {
      @extend %typography-home-final;

      margin-bottom: var(--a1);
    }

    &__supporting {
      @extend %typography-home-primary;
    }
  }
}



// HOME GRID
//
// Less intense than the case study grid, but still plenty involved.
// (See that template for a longer writeup. TODO: Move that to the README)

%layout-home-grid {
  align-items: baseline;
  display: grid;
  //outline: 4px solid var(--hue-red-300);
  outline-offset: -5px;
  grid-template-columns:
    []
      var(--a0)
    [content-major-start content-minor-start mat-start title-start]
      auto
    [content-major-end content-minor-end mat-end title-end]
      var(--a0)
    [];

  @include at-least(w0) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--a1)
      [content-major-start content-minor-start mat-start title-start]
        auto
      [content-major-end content-minor-end mat-end title-end]
        var(--a1)
      [];
  }

  @include at-least(w1) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b1)
      [content-major-start title-start]
        var(--b2) //
      [mat-start]
        2fr
      [content-major-end]
        var(--b1)
      [content-minor-start]
        1fr
      [mat-end title-end]
        var(--b2) //
      [content-minor-end]
        var(--b1)
      [];
  }

  @include at-least(w2) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b2)
      [content-major-start title-start]
        var(--b2) //
      [mat-start]
        2fr
      [content-major-end]
        var(--b2)
      [content-minor-start]
        1fr
      [mat-end title-end]
        var(--b2) //
      [content-minor-end]
        var(--b2)
      [];
  }

  @include at-least(w3) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b2)
      [content-major-start title-start]
        var(--a4) //
      [mat-start]
        2fr
      [content-major-end]
        var(--b3)
      [content-minor-start]
        1fr
      [mat-end title-end]
        var(--a4) //
      [content-minor-end]
        var(--b2)
      [];
  }

  @include at-least(w4) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--b3)
      [content-major-start title-start]
        var(--b4) //
      [mat-start]
        2fr
      [content-major-end]
        var(--b3)
      [content-minor-start]
        1fr
      [mat-end title-end]
        var(--b4) //
      [content-minor-end]
        var(--b3)
      [];
  }

  @include at-least(w5) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        minmax(var(--b4),auto)
      [content-major-start title-start]
        var(--b4) //
      [mat-start]
        minmax(auto,var(--b5))
      [content-major-end]
        var(--b4)
      [content-minor-start]
        minmax(auto,var(--b5))
      [mat-end title-end]
        var(--b4) //
      [content-minor-end]
        minmax(var(--b4),auto)
      [];
  }
}
