@use "utilities" as *;

.home {
  section {
    @extend %layout-home-grid;
  }

  h2 {
    @extend %typography-home-header;

    color: var(--color-text-primary);
    font-weight: 900;
    grid-column: mat;
    margin-bottom: var(--a2);
  }

  .hero,
  .portfolio {
    background-color: var(--fill-page-secondary);
  }

  .hero {
    margin-bottom: var(--a4);

    &__titlewrap {
      display: flex;
      flex-direction: column;
      grid-column: title;
      justify-content: flex-end;
      margin: 0 0 var(--a1);
      min-height: 65vh;
    }

    &__title {
      @extend %typography-title;

      font-weight: 600;
      grid-column: title;
      text-align: right;

      strong {
        font-weight: 900;
      }
    }

    &__instructions {
      @extend %typography-summary;

      color: var(--color-text-secondary);
      grid-column: title;
      margin-bottom: calc(var(--b-1) * -1);
      opacity: 0;
      text-align: right;
      transform: translateY(var(--a0));
      transition: transform var(--timing-instructions-slide-in) var(--delay-instructions), opacity var(--timing-instructions-fade-in) var(--delay-instructions);

      .js--ready & {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .about {
    margin-bottom: var(--a3);
  }

  &__intro-container {
    grid-column: mat;
  }

  &__leading {
    @extend %typography-home-primary;

    color: var(--color-text-primary);
    margin-bottom: var(--a1);
  }

  &__about {
    @extend %typography-home-body;

    margin-bottom: var(--a0);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__paragraph {

  }

  // For shape-outside effects, it seems like the most reliable option
  // is using an SVG option rather than path() or ellipsis() functions in
  // CSS: SVG seems to work better with negative margins.
  &__float {

    // The circular ??
    &--para-one {
      float: left;
      shape-outside: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Ccircle cx='1' cy='1' r='1' fill-rule='evenodd'/%3E%3C/svg%3E");
      shape-margin: var(--a0);
      margin-left: calc(var(--gap-grid-home) * -1);
      margin-right: var(--gap-grid-home);
      width: 40%;

      @include at-least(w0) {
        margin-left: calc(-1 * (((100% - var(--gap-grid-home)) * 1 / 5) + var(--gap-grid-home) + var(--a-1) ));
        width: calc((100% - var(--gap-grid-home)) * 2 / 5 + var(--gap-grid-home));
      }

      @include at-least(w2) {
        margin-left: calc(-1 * (((100% - var(--gap-grid-home)) * 2 / 5) + var(--gap-grid-home) + var(--a-1) ));
        width: calc((100% - var(--gap-grid-home)) * 3 / 5 + var(--gap-grid-home));
      }

      @include at-least(w3) {
        margin-left: calc(-1 * (((100% - var(--gap-grid-home)) * 3 / 8)));
        width: calc((100% - var(--gap-grid-home)) * 4 / 8 + var(--gap-grid-home));
      }

      @include at-least(w5) {
        margin-left: calc(-1 * var(--a5));
        width: var(--b5);
      }

      svg * {
        fill: currentColor;opacity: .25;
      }
    }

    // The rectangular ??
    &--para-two {
      float: right;
      margin-left: var(--gap-grid-home);
      margin-right: calc(var(--gap-grid-home) * -1);
      shape-margin: var(--a0);
      shape-outside: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 4'%3E%3Cpath fill-rule='evenodd' d='M.626 0l4.318.761L4.373 4 .055 3.239z'/%3E%3C/svg%3E");
      width: 50%;

      @include at-least(w0) {
        margin-right: calc(-1 * ((100% - var(--gap-grid-home)) * 1 / 5));
        width: calc((100% - var(--gap-grid-home)) * 3 / 5);
      }

      @include at-least(w2) {
        margin-right: calc(-1 * ((100% - var(--gap-grid-home)) * 2 / 5));
        width: calc((100% - var(--gap-grid-home)) * 4 / 5);
      }

      @include at-least(w3) {
        margin-right: calc(-1 * ((100% - var(--gap-grid-home)) * 3 / 8));
        width: calc((100% - var(--gap-grid-home)) * 5 / 8);
      }

      @include at-least(w5) {
        margin-right: calc(-1 * var(--a5));
        width: calc(var(--a5) + var(--a3));
      }

      svg * {
        fill: currentColor;opacity: .25;
      }
    }

    // The current work arrow
    &--para-last {
      float: right;
      margin-left: var(--gap-grid-home);
      margin-right: calc(var(--gap-grid-home) * -1);
      opacity: .5;
      shape-margin: var(--a0);
      shape-outside: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 136'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' d='M77.184 131.306l19.629-25.882-31.43-21.291 96.035-13.497-4.354-30.983-96.175 13.516L85.212 23.9 59.37 4.552 4.76 76.856z'%3E%3C/path%3E%3C/svg%3E");
      width: 33%;

      @include at-least(w0) {
        margin-right: calc(-1 * (100% - var(--gap-grid-home)) / 5);
        width: calc((100% - var(--gap-grid-home)) * 2 / 5 + var(--gap-grid-home));
      }

      @include at-least(w3) {
        width: calc((100% - var(--gap-grid-home)) * 2 / 8 + var(--gap-grid-home));
      }

      @include at-least(w5) {
        width: var(--a4);
      }

      svg * {
        stroke: currentColor;
        vector-effect: non-scaling-stroke;
      }
    }
  }

  .portfolio {
    @extend %layout-home-grid;

    margin-bottom: var(--a3);
    padding: var(--a3) 0;


    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: calc(var(--a0) * -1) 0;
      padding: 0;
    }

    li a {
      padding: var(--a0) 0;
    }

    li + li {
      box-shadow: 0 0.5px 0 0 var(--stroke-separator) inset;
    }

    a {
      background: none;
      box-shadow: none;
      color: var(--color-project-link);
      display: block;

      &:hover, &:focus {
        color: var(--color-project-link-hover);
      }

      &:active {
        color: var(--color-project-link-active);
      }
    }

    p {
      @extend %typography-link-description;

      color: var(--color-text-primary);
    }

    .projects {
      grid-column: content-major;
      margin-bottom: var(--a3);

      @include at-least(w0) {
        margin-bottom: 0;
      }

      ul {
        margin: calc(var(--a1) * -1) 0;
      }

      li a {
        padding: var(--a1) 0;
      }

      a {
        display: grid;
        grid:
          "project-icon project-title" auto
          "project-icon project-description" 1fr
          / min-content 1fr;
      }

      h3 {
        @extend %typography-link-title;

        grid-area: project-title;
        padding-bottom: var(--b-1);
      }

      p {
        grid-area: project-description;
      }

      svg {
        grid-area: project-icon;
        margin-right: var(--a0);
        width: var(--b2);

        * {
          stroke: currentColor;
        }
      }
    }

    .more {
      grid-column: content-minor;
    }

  }

  .final {
    margin-bottom: var(--b5);

    &__content {
      grid-column: mat;
    }

    &__primary {
      @extend %typography-home-final;

      margin-bottom: var(--a1);
    }

    &__supporting {
      @extend %typography-home-primary;
    }

    &__corner {
      bottom: 0;
      position: absolute;
      right: 0;
      width: var(--b5);

      @include at-least(w0) {
        width: var(--a6);
      }

      @include at-least(w5) {
        width: 25%;
      }

      svg * {
        fill: currentColor;opacity: .25;
      }
    }
  }
}



// HOME GRID
//
// Less intense than the case study grid, but still plenty involved.
// (See that template for a longer writeup. TODO: Move that to the README)

%layout-home-grid {
  align-items: baseline;
  display: grid;
  //outline: 4px solid var(--hue-red-300);
  outline-offset: -5px;
  grid-template-columns:
    []
      calc(var(--gap-grid-home) + env(safe-area-inset-left))
    [content-major-start content-minor-start title-start]
      var(--width-home-mat)
    [mat-start]
      auto
    [mat-end]
      var(--width-home-mat)
    [content-major-end content-minor-end title-end]
      calc(var(--gap-grid-home) + env(safe-area-inset-right))
    [];

  @include at-least(w0) {
    grid-template-columns:
      []
        calc(var(--gap-grid-home) + env(safe-area-inset-left))
      [content-major-start title-start]
        var(--width-home-mat)
      [mat-start]
        3fr
      [content-major-end title-start]
        var(--gap-grid-home)
      [content-minor-start]
        2fr
      [mat-end title-end]
        var(--width-home-mat)
      [content-minor-end]
        calc(var(--gap-grid-home) + env(safe-area-inset-right))
      [];
  }

  @include at-least(w1) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        var(--gap-grid-home)
      [content-major-start title-start]
        var(--width-home-mat)
      [mat-start]
        3fr
      [content-major-end]
        var(--gap-grid-home)
      [content-minor-start]
        2fr
      [mat-end title-end]
        var(--width-home-mat)
      [content-minor-end]
        calc(var(--gap-grid-home) + env(safe-area-inset-right))
      [];
  }

  @include at-least(w3) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        1fr
      []
        var(--gap-grid-home)
      [content-major-start title-start]
        var(--width-home-mat)
      [mat-start]
        5fr
      [content-major-end]
        var(--gap-grid-home)
      [content-minor-start]
        3fr
      [mat-end title-end]
        var(--width-home-mat)
      [content-minor-end]
        1fr
      []
        calc(var(--gap-grid-home) + env(safe-area-inset-right))
      [];
  }


  @include at-least(w5) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        minmax(var(--b4),auto)
      []
        var(--gap-grid-home)
      [content-major-start title-start]
        var(--width-home-mat)
      [mat-start]
        5fr
      [content-major-end]
        var(--gap-grid-home)
      [content-minor-start]
        3fr
      [mat-end title-end]
        var(--width-home-mat)
      [content-minor-end]
        minmax(var(--b4),auto)
      []
        calc(var(--gap-grid-home) + env(safe-area-inset-right))
      [];
  }

  @include at-least(w5) {
    grid-template-columns:
      []
        calc(var(--width-sidebar-expanded) * 1rem)
      []
        minmax(var(--gap-grid-home),auto)
      [content-major-start title-start]
        var(--width-home-mat)
      [mat-start]
        minmax(auto,var(--a5))
      []
        minmax(auto,var(--a5))
      [content-major-end]
        var(--gap-grid-home)
      [content-minor-start]
        minmax(auto,var(--a5))
      [mat-end title-end]
        var(--width-home-mat)
      [content-minor-end]
        minmax(var(--gap-grid-home),auto)
      [];
  }
}
