{% extends "src/templates/_shell/_shell.njk" %}

{% block titletag %}{{ title }}{% endblock %}

{% block ogtitle %}{{ title }}{% endblock %}

{% block content %}
<div class="home">
  <section class="section hero">
    <div class="hero__titlewrap">
      <h1 class="hero__title">{% block introduction %}{% endblock %}</h1>
    </div>
    <p class="hero__instructions">Scroll to learn about me</p>
  </section>
  <section class="section about">
    <a id="about" class="anchor"></a>
    {% block about %}{% endblock %}
  </section>
  <section class="section portfolio">
    <div class="projects">
      <a id="projects" class="anchor"></a>
      {% block projects %}{% endblock %}
    </div><!--
    <div class="more">
      <a id="work" class="anchor"></a>
      {% block work %}{% endblock %}
    </div>-->
  </section>
  <section class="section final">
    {% block final %}{% endblock %}
  </section>
</div>
{% endblock %}
